<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--UAT-->
    <add name="WellEntities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ho-ms-dbuat2\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--DEV-->
    <!--<add name="WellEntities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Delay in ms between folder scan and database check-->
    <add key="pause" value="120000" />
    <!--<add key="storage:EpodFtp" value="Type=Ftp;Path=ftp://ftpproxy.palmerharvey.co.uk/PhePod;UserName=Palmer@ftp1.transendsolutions.net;Password=Exc3hang5;" />-->
    <add key="storage:ProdWellEpod" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam" />
    <add key="storage:ProdWellArchive" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\archive" />
    <add key="storage:ProdWellArchive2" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam\archive" />
    <add key="storage:UatWellEpod" value="Path=\\ho-nt-fsnetapp\ftp\well\uat\adam" />
    <add key="storage:QAManualWellEpod" value="Path=\\ho-nt-fsnetapp\home\ADAM Migration Project\WellQAFilesFolder\Adam" />
    <!--<add key="storage:UatWellEpodArchive" value="Path=\\ho-nt-fsnetapp\ftp\well\uat\archive" />
    <add key="storage:UatWellEpodArchive2" value="Path=\\ho-nt-fsnetapp\ftp\well\uat\adam\archive" />-->
    <!--<add key="sources" value="EpodFtp:,ProdWellEpod:,ProdWellArchive:{today}"/>-->
    <add key="sources" value="ProdWellArchive:{minus1},ProdWellArchive:{today},ProdWellArchive2:{minus1},ProdWellArchive2:{today}" />
    <!--<add key="archives" value="UatWellEpod:,UatWellEpodArchive:{today},UatWellEpodArchive:{minus1},UatWellEpodArchive:{minus2},UatWellEpodArchive:{minus3},UatWellEpodArchive:{minus4},UatWellEpodArchive2:{today},UatWellEpodArchive2:{minus1},UatWellEpodArchive2:{minus2},UatWellEpodArchive2:{minus3},UatWellEpodArchive2:{minus4}" />-->
    <add key="archives" value="UatWellEpod:" />
    <add key="target" value="UatWellEpod:" />
    <!--add key="branches" value="2;3;5;9;14;20;22;33;42;55;82"/-->
    <!--Leeds (14), Plymouth (55), Bristol (59), Haydock (82)-->
    <add key="branches" value="14;55;59;82" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>