<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WellEntities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Well2Entities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Well3Entities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Well4Entities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Delay in ms between folder scan and database check-->
    <add key="pause" value="10000" />
    <add key="storage:WellEpod" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam" />
    <add key="storage:WellArchive" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\archive" />
    <add key="storage:WellArchive2" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam\archive" />
    <add key="storage:WellDestination" value="Path=\\ho-nt-fsnetapp\home\ADAM Migration Project\WellQAFilesFolder"/>
    <add key="storage:WellDestinationArchive" value="Path=\\ho-nt-fsnetapp\home\ADAM Migration Project\WellQAFilesFolder" />
    <add key="sources" value="WellArchive:{minus1},WellArchive:{today},WellArchive2:{minus1},WellArchive2:{today}" />
    <!-- Locations to check for any existing files -->
    <add key="archives" value="WellDestinationArchive:\Well\Archive\{today},WellDestinationArchive:\Well2\Archive\{today},WellDestinationArchive:\Well3\Archive\{today},WellDestinationArchive:\Well4\Archive\{today},WellDestinationArchive:\Well\Archive\{minus1},WellDestinationArchive:\Well2\Archive\{minus1},WellDestinationArchive:\Well3\Archive\{minus1},WellDestinationArchive:\Well4\Archive\{minus1}" />
    <add key="target" value="WellDestination:" />
    <!--add key="branches" value="2;3;5;9;14;20;22;33;42;55;82"/-->
    <!--Leeds (14), Plymouth (55), Bristol (59), Haydock (82)-->
    <add key="branches" value="14;55;59;82" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>