<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="active">Locations</li>
        </ol>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Show pending action Jobs - {{getJobIssueTypeDescription()}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let issue of jobIssueType">
                        <a (click)="filters.jobIssueType = issue.key; fillGrid()">{{ issue.value }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" (click)="loadData()">
                        Refresh Data
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" (click)="clearFilters()">Clear Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12 clearfix table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 13%">
                            <div class="text-center">Branch</div>
                            <div>
                                <select class="form-control" 
                                        (change)="loadData($event.target.value)"
                                        [(ngModel)]="globalSettingsService.currentBranchId">
                                    <option *ngFor="let branch of branches" [value]="branch[0]">
                                        {{ branch[1] }}
                                    </option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="text-center">Account Number</div>
                            <div>
                                <input type="text" [(ngModel)]="filters.accountNumber" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th>
                            <div class="text-center">Account Name</div>
                            <div>
                                <input type="text" [(ngModel)]="filters.accountName" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th>
                            <div class="text-center">Address</div>
                            <div>
                                <input type="text" [(ngModel)]="filters.address" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th>
                            <div class="text-center">Invoices</div>
                            <div class="form-control-placeholder">&nbsp;</div>
                        </th>
                        <th colspan="2">
                            <div class="text-center col-md-6">Exceptions</div>
                            <div class="text-center col-md-6">Clean</div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.exceptions" (change)="fillGrid()" title="">
                                    <option value>All</option>
                                    <option value="1">With Exceptions</option>
                                    <option value="2">Without Exceptions</option> <!-- it's no possible to know if the location is 100% clean so lets put the filter like this -->
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of gridSource | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td><span>{{item.branch}}</span></td>
                        <td>{{item.accountNumber}}</td>
                        <td>{{item.accountName}}</td>
                        <td><a [routerLink]="['/singlelocation', globalSettingsService.currentBranchId]" [queryParams]="{locationId: item.id}">{{item.address}}</a></td>
                        <td class="text-right">{{item.totalInvoices}}</td>
                        <td class="text-right">{{item.exceptions}}</td>
                        <td class="text-right">{{item.cleans}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="gridSource.length == 0; else paginator">
                <div class="alert alert-warning" role="alert">
                    <strong>No matching results</strong>
                </div>
            </div>
            <ng-template #paginator>
            <div class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </ng-template>
        </div>
    </div>
</div>