<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Routes</li>
    </ol>
</div>
<div class="jumbotron">
    <div class="content">
        <div class="row">
            <div class="col-md-6">
               
            </div>
            <div class="col-md-6 pull-right">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="clearFilters()">Clear Filter</button>
                    </div>
                    <ow-split-button [options]="actions" [disabled]="selectedRoutes ? selectedRoutes.length == 0 : true"></ow-split-button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> &nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p-dataTable [value]="routes" [rows]="rowCount" [paginator]="true"
                             [pageLinks]="3" [rowsPerPageOptions]="rowsPerPageOptions"
                             #dt [(selection)]="selectedRoutes">
                    <p-column header="Branch" field="branchId" [sortable]="true" filter="true">
                        <ng-template pTemplate="filter" let-col>
                            <select class="form-control" id="searchBranch"
                                    (change)="dt.filter($event.target.value,col.field,col.filterMatchMode)"
                                    [ngModel]="routeFilter.branchId ? routeFilter.branchId.value : ''">
                                <option *ngFor="let branch of branches" [value]="branch[0] || '' ">
                                    {{ branch[1] }}
                                </option>
                            </select>
                        </ng-template>
                        <ng-template let-route="rowData" pTemplate="body">
                            <span>
                                {{route.branch}}
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column header="Route" field="route" [sortable]="true" [filter]="true">
                    </p-column>
                    <p-column header="Date" field="routeDate" [sortable]="true" [style]="{'overflow':'visible','width':'150px'}" [filter]="true" filterMatchMode="contains">
                        <ng-template pTemplate="filter" let-col>
                            <ow-date (change)="dt.filter($event.target.value,col.field,col.filterMatchMode)"
                                     value="{{routeFilter.routeDate ? routeFilter.routeDate.value : '' }}">
                            </ow-date>
                        </ng-template>
                        <ng-template let-route="rowData" pTemplate="body">
                            <span>
                                {{route.routeDate | date:'dd/MM/yyyy' }}
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column header="Stops" field="stopCount" [sortable]="true" [filter]="true"></p-column>
                    <p-column header="Status" field="routeStatusId" [sortable]="true" [filter]="true">
                        <ng-template pTemplate="filter" let-col>
                            <select class="form-control" id="searchStatus"
                                    (change)="dt.filter($event.target.value,col.field,col.filterMatchMode)"
                                    [ngModel]="routeFilter.routeStatusId ? routeFilter.routeStatusId.value : ''">
                                <option *ngFor="let status of jobStatus" [value]="status[0] || ''">
                                    {{ status[1] }}
                                </option>
                            </select>
                        </ng-template>
                        <ng-template let-route="rowData" pTemplate="body">
                            <span>
                                {{route.routeStatus}}
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column header="Exceptions" field="hasExceptions" [sortable]="true" [filter]="true">
                        <ng-template pTemplate="filter" let-col>
                            <select class="form-control" id="exceptionFilterCtl"
                                    [ngModel]="routeFilter.routeStatusId ? routeFilter.routeStatusId.value: ''"
                                    (change)="dt.filter($event.target.value,col.field,col.filterMatchMode)">
                                <option *ngFor="let exceptionFilterItem of exceptionFilterItems" [value]="exceptionFilterItem[0]">
                                    {{exceptionFilterItem[1]}}
                                </option>
                            </select>
                        </ng-template>

                        <ng-template let-route="rowData" pTemplate="body">
                            <span>
                                {{route.exceptionCount}}
                            </span>
                        </ng-template>

                    </p-column>
                    <p-column header="Driver" field="driverName" [sortable]="true" [filter]="true"></p-column>
                    <p-column header="Assignee" field="assignee" [sortable]="true" [filter]="true">
                        <ng-template let-route="rowData" pTemplate="body">
                            <assign-modal (onAssigned)="onAssigned($event)" [model]="getAssignModel(route)"></assign-modal>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>