<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/routes" routerLinkActive="active">Routes</a>
            </li>
            <li class="active">Route {{routeNumber}}</li>
        </ol>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li><label>Branch:&nbsp;</label>{{branchId}}</li>
                <li><label>Driver:&nbsp;</label>{{driver}}</li>
                <li><label>Date:&nbsp;</label>{{routeDate | date:'dd MMM yyyy'}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 pull-right">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" (click)="clearFilter(dt)">Clear Filter</button>
                &nbsp;
                <action-Modal [disabled]="selectedItems().length == 0"
                              [isStopLevel]="true"
                              [jobIds]="getSelectedJobIds()">
                </action-Modal>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 clearfix table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 3%">
                            <a href="#" (click)="expandGroup($event)">
                                <div *ngIf="areAllExpanded(); then allExpended else notAllExpanded"> </div>
                                <ng-template #allExpended>
                                    <span class="fa fa-arrow-circle-down"></span>
                                </ng-template>
                                <ng-template #notAllExpanded>
                                    <span class="fa fa-arrow-circle-right"></span>
                                </ng-template>
                            </a>
                        </th>
                        <th style="width: 9%">
                            <div class="text-center">Account</div>
                            <div>
                                <input type="text" [(ngModel)]="filters.account" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th style="width: 9%">
                            <div class="text-center">Invoice</div>
                            <div>
                                <input type="text" [(ngModel)]="filters.invoice" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th style="width: 8%">
                            <div class="text-center">Job Type</div>
                            <div>
                                <select class="form-control" id="searchJobType" [(ngModel)]="filters.jobType" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option *ngFor="let jobType of jobTypes" [value]="jobType.value">
                                        {{ jobType.value }}
                                    </option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="text-center">Job Status</div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.wellStatus" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option *ngFor="let item of wellStatus" [value]="item.key">
                                        {{ item.value }}
                                    </option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 8%">
                            <div>C.O.D. <a href="" title="Cash on delivery"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a></div>
                            <div>P.O.D. <a href="" title="Proof of delivery"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a></div>
                            <div class="form-control-placeholder"></div>
                        </th>
                        <th style="width: 7%">
                            <div class="text-center">Exceptions</div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.exceptions" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option value="true">With exceptions</option>
                                    <option value="false">No exceptions</option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 7%">
                            <div class="text-center">Clean</div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.clean" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 7%">
                            <div class="text-center">T.B.A.</div>
                            <div class="form-control-placeholder"></div>
                        </th>
                        <th style="width: 7%">
                            <div class="text-center">Credit</div>
                            <div class="form-control-placeholder"></div>
                        </th>
                        <th style="width: 12%">
                            <div class="text-center">Assignee</div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.assignee" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option *ngFor="let a of assignees" [value]="a">{{a}}</option>
                                </select>
                            </div>
                        </th>
                        <th style="width: 9%">
                            <div class="text-center">Resolution</div>
                            <select class="form-control" [(ngModel)]="filters.resolutionId" (change)="fillGridSource()" title="">
                                <option value>All</option>
                                <option *ngFor="let resolutionStatus of resolutionStatuses" [value]="resolutionStatus.key">
                                    {{resolutionStatus.value}}
                                </option>
                            </select>
                        </th>
                        <th style="width: 4%">
                            <input type="checkbox" [checked]="allChildrenSelected()" (change)="selectStops($event.target.checked)" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of gridSource">
                        <tr class="info">
                            <td>
                                <a href="#" (click)="expand($event, item); $event.preventDefault()">
                                    <span class="fa" [class.fa-arrow-circle-down]="item.isExpanded" [class.fa-arrow-circle-right]="!item.isExpanded"></span>
                                </a>
                            </td>
                            <td colspan="3">
                                <a routerLink="/stops/{{item.stopId}}" routerLinkActive="active">Stop {{item.stop}}</a>
                            </td>
                            <td colspan="2">
                                {{item.stopStatus}}
                            </td>
                            <td class="text-right">
                                {{item.totalExceptions}}
                            </td>
                            <td class="text-right">
                                {{item.totalClean}}
                            </td>
                            <td class="text-right">
                                {{item.tba}}
                            </td>
                            <td>&nbsp;</td>
                            <td colspan="2">
                                <assign-modal id="modal" (onAssigned)="onAssigned($event)" [model]="getAssignModel(item)"></assign-modal>
                            </td>
                            <td>
                                <input type="checkbox" [checked]="allChildrenSelected(item)" (change)="selectStops($event.target.checked, item)" />
                            </td>
                        </tr>
                        <tr *ngFor="let detail of item.items" [style.display]="item.isExpanded ? 'table-row' : 'none'">
                            <td colspan="2">{{detail.account}}</td>
                            <td>{{detail.invoice}}</td>
                            <td>{{detail.jobType}}</td>
                            <td>{{detail.wellStatusDescription}}</td>
                            <td>
                                <ow-account-flags [isCashOnDelivery]="detail.isCod" [isProofOfDelivery]="detail.pod"></ow-account-flags>
                            </td>
                            <td class="text-right">{{detail.exceptions}}</td>
                            <td class="text-right">{{detail.clean}}</td>
                            <td class="text-right">{{detail.tba}}</td>
                            <td class="text-right">{{detail.credit | currency:'GBP':true}}</td>
                            <td></td>
                            <td>{{detail.resolution}}</td>
                            <td>
                                <input type="checkbox" [(ngModel)]="detail.isSelected" title="">
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
            <div *ngIf="gridSource.length == 0" class="alert alert-warning" role="alert">
                <strong>No matching results</strong>
            </div>
        </div>
    </div>
</div>