<div *ngIf="singleRoute">
    <div class="table-container">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/routes" routerLinkActive="active">Routes</a>
            </li>
            <li class="active">Route {{singleRoute.routeNumber}}</li>
        </ol>
    </div>
    <div class="jumbotron">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><label>Branch:&nbsp;</label>{{singleRoute.branch}}</li>
                        <li><label>Driver:&nbsp;</label>{{singleRoute.driver}}</li>
                        <li><label>Date:&nbsp;</label>{{singleRoute.routeDate | date:'dd MMM yy'}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 clearfix ">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" (click)="filter('All')" class="active"><a href="#All" aria-controls="jobs" role="tab" data-toggle="tab">All</a></li>
                        <li role="presentation" (click)="filter('Exception')"><a href="#exceptions" aria-controls="exceptions" role="tab" data-toggle="tab">Exceptions</a></li>
                        <li role="presentation" (click)="filter('Approval')"><a href="#approvals" aria-controls="approvals" role="tab" data-toggle="tab">Approvals</a></li>
                        <li role="presentation" (click)="filter('Resolve')"><a href="#resolved" aria-controls="resolved" role="tab" data-toggle="tab">Resolved</a></li>
                        <li class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" (click)="clearFilter(dt)">Clear Filter</button>
                                &nbsp;
                                <action-Modal [disabled]="selectedItems().length == 0" 
                                              (onActionClicked)="actionModalClicked($event)"
                                              [actionSummaryData] ="getActionSummaryData()">
                                    <div class="table-responsive table-container">
                                        <table id="tableExceptionDeliveries" class="table table-hover table-striped">
                                            <thead>
                                                <tr style="height: auto">
                                                    <th></th>
                                                    <th>Stop</th>
                                                    <th>Invoice No</th>
                                                    <th>Job Type</th>
                                                    <th>Action</th>
                                                    <th style="width: 20%"><span class="pull-right">Invoice Qty</span></th>
                                                    <th style="width: 20%"><span class="pull-right">Exception Qty</span></th>
                                                    <th style="width: 15%"><span class="pull-right">Value</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="grid-row" *ngFor="let item of  selectedItems()" style="height: auto">
                                                    <td></td>
                                                    <td>{{item.stop}}</td>
                                                    <td>{{item.invoice}}</td>
                                                    <td>{{item.jobType}}</td>
                                                    <td>{{selectedAction}}</td>
                                                    <td><span class="pull-right">{{item.invoicedQty}}</span></td>
                                                    <td><span class="pull-right">{{item.exceptions}}</span></td>
                                                    <td><span class="pull-right">{{item.credit | currency:'GBP':true }}</span></td>
                                                </tr>
                                        </table>
                                    </div>
                                </action-Modal>
                            </div>
                        </li>

                    </ul>
                    <p-dataTable [value]="singleRouteItems" groupField="stop" expandableRowGroups="rowspan"
                                 sortField="stop" [sortableRowGroup]="false"
                                 rowGroupMode="subheader" #dt>
                        <p-header>Expand a Stop to see more details</p-header>
                        <ng-template pTemplate="rowgroupheader" let-rowData>
                            <div class="groupRow">
                                <div class="group1">
                                    <a routerLink="/stops/{{rowData.stopId}}" routerLinkActive="active">Stop {{rowData.stop}}</a>
                                </div>
                                <div class="group2">{{rowData.stopStatus}}</div>
                                <div class="group3">{{totalPerGroup('exceptions', rowData.stop)}}</div>
                                <div class="group4">{{totalPerGroup('clean', rowData.stop)}}</div>
                                <div class="group5">{{rowData.tba}}</div>
                                <div class="group6">&nbsp;</div>
                                <div class="group7">
                                    <assign-modal id="modal" (onAssigned)="onAssigned($event)" [model]="getAssignModel(rowData)"></assign-modal>
                                </div>
                                <div class="group8">&nbsp;</div>
                                <div class="group9" style="padding-right: 3px;"><input type="checkbox" [checked]="allChildrenSelected(rowData.stop)" (change)="selectStops($event.target.checked, rowData.stop)" /></div>
                            </div>
                        </ng-template>
                        <p-column header="" field="" [filter]="false" [sortable]="false" [style]="{'width':'3%'}"></p-column>
                        <p-column header="Invoice" field="invoice" [filter]="true" filterMatchMode="contains" [style]="{'width': '9%'}">
                            <ng-template pTemplate="header">
                                <div>Invoice</div>
                            </ng-template>
                        </p-column>
                        <p-column header="Job Type" field="jobType" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible','width':'8%'}">
                            <ng-template pTemplate="header">
                                <div>Job Type</div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-col>
                                <select class="form-control" id="searchJob" (change)="dt.filter($event.target.value, col.field, col.filterMatchMode)" title="">
                                    <option value>All</option>
                                    <option *ngFor="let jobType of jobTypes" [value]="jobType.key">
                                        {{ jobType.value }}
                                    </option>
                                </select>
                            </ng-template>
                        </p-column>
                        <p-column header="Job Status" field="jobStatusDescription" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible','width':'10%'}">
                            <ng-template pTemplate="header">
                                <div>Job Status</div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-col>
                                <select class="form-control" id="searchStatus" (change)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    <option *ngFor="let status of jobStatus" [value]="status.key">
                                        {{ status.value }}
                                    </option>
                                </select>
                            </ng-template>
                        </p-column>
                        <p-column header="Account" field="account" [filter]="true" filterMatchMode="equals" [style]="{'width': '9%'}">
                            <ng-template pTemplate="header">
                                <div>Account</div>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width': '8%'}">
                            <ng-template pTemplate="header">
                                <p>C.O.D. <a href="" title="Cash on delivery"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a></p>
                                <p>P.O.D. <a href="" title="Proof of delivery"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></a></p>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-center">
                                    <ow-account-flags [isCashOnDelivery]="data.isCod" [isProofOfDelivery]="data.pod"></ow-account-flags>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column header="Exceptions" field="exceptions" [filter]="true" filterMatchMode="equals" [style]="{'width': '7%'}">
                            <ng-template pTemplate="header">
                                <div>Exceptions</div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-right">
                                    {{data.exceptions}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column header="Clean" field="clean" [filter]="true" filterMatchMode="equals" [style]="{'width': '7%'}">
                            <ng-template pTemplate="header">
                                <div>Clean</div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-right">
                                    {{data.clean}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column header="TBA" field="tba" [filter]="true" filterMatchMode="equals" [style]="{'width': '7%'}">
                            <ng-template pTemplate="header">
                                <div>T.B.A.</div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-right">
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column header="Credit" field="credit" [filter]="true" filterMatchMode="equals" [style]="{'width': '7%'}">
                            <ng-template pTemplate="header">
                                <div>Credit</div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-right">
                                    {{data.credit | currency:'GBP':true}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column header="Assignee" field="assignee" [filter]="true" filterMatchMode="contains" [style]="{'width': '12%'}">
                            <ng-template pTemplate="header">
                                <div>Assignee</div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                            </ng-template>
                        </p-column>
                        <p-column header="Resolution" field="" [filter]="false" [sortable]="false" [style]="{'width':'10%'}">
                            <ng-template pTemplate="header">
                                <div>Resolution</div>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'38px'}" [editable]="true" field="isSelected">
                            <ng-template let-data="rowData" pTemplate="header">
                                <div class="text-center">
                                    <input type="checkbox" title="" [checked]="allChildrenSelected(null)" (change)="selectStops($event.target.checked, null)">
                                </div>
                            </ng-template>
                            <ng-template let-data="rowData" pTemplate="body">
                                <div class="text-center">
                                    <input type="checkbox" [(ngModel)]="data.isSelected" title="">
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> &nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
            </div>
        </div>
    </div>

</div>