<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <add key="Database" value="Well" />
    <add key="SqlInstance" value=".\SQLSERVER2014" />
    <add key="PathToDacpac" value="..\..\..\..\3. Database\Well\bin\Debug\Well.dacpac" />
    <add key="TransactionTimeout" value="10" />
    <add key="DriverTimeoutInSeconds" value="10"/>
    <add key="WellApiUrl" value="http://localhost/well/api/"/>   
    <add key="TransactionTimeout" value="10"/>
    <add key="SecurityApiUrl" value="http://localhost/SecurityApi"/>
    <add key="DashboardUrl" value="http://localhost/Well/Dashboard/"/>
    <add key="ApplicationId" value="C7D39FDC-A3FA-44AA-A5FB-86433A87E6D5"/>
    <add key="WebDriver" value="Chrome"/>  
  </appSettings>
  <connectionStrings>
    <add name="Well" connectionString="data source=.\sqlserver2014; initial catalog=Well; integrated security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>