<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Database" value="Well" />
    <add key="SqlInstance" value=".\SQLSERVER2014" />
    <add key="PathToDacpac" value="..\..\..\..\3. Database\Well\bin\Debug\Well.dacpac" />
    <add key="TransactionTimeout" value="10" />
    <add key="DriverTimeoutInSeconds" value="10" />
    <add key="WellApiUrl" value="http://ho-nt-vmlgw2k81/well/api/" />
    <add key="DashboardUrl" value="http://ho-nt-vmlgw2k81/Well/Dashboard/" />
    <add key="ApplicationId" value="3831EC77-5CF1-4FF8-99F4-0CD751390473" />
    <add key="SecurityApi" value="http://localhost/securityapi" />
    <add key="WebDriver" value="Chrome" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseWaitForAngular2" value="false" />
    <add key="archiveLocation" value="c:\temp" />
  </appSettings>
  <connectionStrings>
    <add name="Well" connectionString="data source=.\sqlserver2014; initial catalog=Well; integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>