<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="Database" value="WellBdd"/>
    <add key="SqlInstance" value=".\SQLSERVER2014"/>
    <add key="PathToDacpac" value="C:\\_dev\\OverriderDiscount\\Release\\Release-3\\src\\Database\\OverriderDiscountDatabase\\bin\\Release\\OverriderDiscounts.dacpac" />
    <add key="TransactionTimeout" value="10"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log"/>
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
      <logger name="*" minlevel="Trace" writeTo="coloredConsole"/>
    </rules>
  </nlog>
</configuration>