
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
src/.vs/*
/src/packages/*
!/src/packages/repositories.config
!tools/**
src/3. Database/Well/Well.dbmdl
src/1. Layers/1.1 Presentation/Well.Dashboard/Well.Dashboard.csproj.orig
**/node_modules/*
src/1. Layers/1.1 Presentation/Well.Dashboard/typings/*

src/4. Test/Well.Test.UI/.ntvs_analysis.dat
*.ntvs_analysis.dat.tmp
*.ncrunchproject
*.ncrunchsolution
src/1. Layers/1.1 Presentation/Well.Dashboard/app/appComponent.js.map.orig
src/1. Layers/1.1 Presentation/Well.Dashboard/app/widgetstats/widgetStatsComponent.js.map.orig
src/1. Layers/1.1 Presentation/Well.Dashboard/app/widgetstats/widgetStatsComponent.js.orig
src/1. Layers/1.1 Presentation/Well.Dashboard/app/widgetstats/widgetStatsComponent.ts.orig
src/1. Layers/1.1 Presentation/Well.Dashboard/app/resolved/*.js
src/1. Layers/1.1 Presentation/Well.Dashboard/app/resolved/*.js.map
src/1. Layers/1.1 Presentation/Well.Dashboard/app/shared/*.js
src/1. Layers/1.1 Presentation/Well.Dashboard/app/shared/*.js.map
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js.map
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js.map
src/1. Layers/1.1 Presentation/Well.Dashboard/app/notifications/notificationsComponent.js
src/1. Layers/1.1 Presentation/Well.Dashboard/app/notifications/notificationsComponent.js.map
