
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
src/.vs/*
/src/packages/*
!/src/packages/repositories.config
!tools/**
src/3. Database/Well/Well.dbmdl
**/node_modules/*
src/1. Layers/1.1 Presentation/Well.Dashboard/typings/*
src/4. Test/Well.Test.UI/.ntvs_analysis.dat
*.ntvs_analysis.dat.tmp
*.ncrunchproject
*.ncrunchsolution
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js.map
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js
src/1. Layers/1.1 Presentation/Well.Dashboard/app/*/*.js.map
*.orig
