<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Well" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=Well;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GlobalUplift.Task.InputDirectories" value="D:\Projects\ProjectResources\well\GlobalUplifts"/>
    <add key="GlobalUplift.Task.ArchiveDirectory" value="D:\Projects\ProjectResources\well\GlobalUplifts\Archive"/>
    <add key="transactionTimeout" value="10" />
    <add key="CommandTimeoutSeconds" value="180" />
    <add key="MaxNoOfDeadlockRetries" value="3" />
    <add key="adamUserName" value="FLP" />
    <add key="adamPassword" value="1718" />
    <add key="adamServerMedway" value="charon" />
    <add key="adamRfsMedway" value="BR03" />
    <add key="adamPortMedway" value="12033" />
    <add key="adamServerCoventry" value="charon" />
    <add key="adamRfsCoventry" value="BR03" />
    <add key="adamPortCoventry" value="12033" />
    <add key="adamServerFareham" value="charon" />
    <add key="adamRfsFareham" value="BR03" />
    <add key="adamPortFareham" value="12033" />
    <add key="adamServerDunfermline" value="charon" />
    <add key="adamRfsDunfermline" value="BR03" />
    <add key="adamPortDunfermline" value="12033" />
    <add key="adamServerLeeds" value="charon" />
    <add key="adamRfsLeeds" value="BR03" />
    <add key="adamPortLeeds" value="12033" />
    <add key="adamServerHemel" value="charon" />
    <add key="adamRfsHemel" value="BR03" />
    <add key="adamPortHemel" value="12033" />
    <add key="adamServerBirtley" value="charon" />
    <add key="adamRfsBirtley" value="BR20" />
    <add key="adamPortBirtley" value="12203" />
    <add key="adamRfsBelfast" value="BR03" />
    <add key="adamPortBelfast" value="12033" />
    <add key="adamServerBrandon" value="charon" />
    <add key="adamRfsBrandon" value="BR03" />
    <add key="adamPortBrandon" value="12033" />
    <add key="adamServerPlymouth" value="charon" />
    <add key="adamRfsPlymouth" value="BR03" />
    <add key="adamPortPlymouth" value="12033" />
    <add key="adamServerBristol" value="charon" />
    <add key="adamRfsBristol" value="BR03" />
    <add key="adamPortBristol" value="12033" />
    <add key="adamServerHaydock" value="charon" />
    <add key="adamRfsHaydock" value="BR20" />
    <add key="adamPortHaydock" value="12203" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>