<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Well" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=Well;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WellEntities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="ho-nt-ht.palmerharvey.co.uk" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>  
  <appSettings>
    <add key="GlobalUplift.Task.InputDirectories" value="D:\Resources\well\GlobalUplifts" />
    <add key="GlobalUplift.Task.ArchiveDirectory" value="D:\Resources\well\GlobalUplifts\Archive" />
    <add key="GlobalUplift.Task.GlobalUpliftEmailServiceUrl" value="http://localhost:54142/api/globaluplift/" />
    <add key="GlobalUplift.Task.AccountServiceUrl" value="http://localhost/Account/Api/v2/" />
    <add key="storage:ProdWellEpod" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam" />
    <add key="storage:ProdWellArchive" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\archive" />
    <add key="storage:ProdWellArchive2" value="Path=\\ho-nt-fsnetapp\ftp\well\prd\adam\archive" />

    <!--Source folders to scan for new Epod files-->
    <add key="GlobalUplift.Task.EpodSources" value="ProdWellArchive:{today},ProdWellArchive2:{today}" />
    <!--<add key="GlobalUplift.Task.EpodSources" value="ProdWellArchive:{minus1},ProdWellArchive:{today},ProdWellArchive2:{minus1},ProdWellArchive2:{today};ProdWellEpod:" />-->

    <!-- Branch filter, blank = all branches -->
    <add key="GlobalUplift.Task.Branches" value="" />
    
    <add key="transactionTimeoutSeconds" value="120" />
    <add key="CommandTimeoutSeconds" value="180" />
    <add key="MaxNoOfDeadlockRetries" value="3" />
    <!--<add key="adam_Default" value="Server=charon;Port=12033;Rfs=Medway;Username=FLP;Password=1718" />-->
    <add key="adam_Default" value="Server=charon;Port=12183;Rfs=BR18;Username=FLP;Password=1718;Email=david.johnston@palmerharvey.co.uk" />
    <add key="adamMedway" value="" />
    <add key="adamCoventry" value="" />
    <add key="adamFareham" value="" />
    <add key="adamDunfermline" value="" />
    <add key="adamLeeds" value="" />
    <add key="adamHemel" value="" />
    <add key="adamBirtley" value="" /> <!--Port=12203;Rfs=BR20-->
    <add key="adamBelfast" value="" />
    <add key="adamBrandon" value="" />
    <add key="adamPlymouth" value="" />
    <add key="adamBristol" value="" /> <!--Port=12593;Rfs=BR59-->
    <add key="adamHaydock" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>