<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net452" />
  <package id="OctoPack" version="3.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="PH.Common.Data.Encryption" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.Data.Encryption.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.DateAndTime" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.DateAndTime.Interfaces" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.Entity.Interfaces" version="1.0.0.2" targetFramework="net452" />
  <package id="PH.Common.FileNode" version="1.0.0.4" targetFramework="net452" />
  <package id="PH.Common.FileNode.Constants" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.FileNode.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.Security.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.Storage" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Common.Storage.Config.ConfigFile" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Common.Storage.Constants" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Common.Storage.Interfaces" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Common.Storage.Local" version="1.0.0.8" targetFramework="net452" />
  <package id="PH.Common.Storage.Models" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.SystemExtensions" version="1.0.0.3" targetFramework="net452" />
  <package id="PH.Common.T4Templates" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.T4Templates.Generators" version="1.0.0.7" targetFramework="net452" />
  <package id="PH.Shared.AccountService.Client.Interfaces" version="1.0.0.8" targetFramework="net452" />
  <package id="PH.Shared.AccountService.Client.Rest" version="1.0.0.12" targetFramework="net452" />
  <package id="PH.Shared.AccountService.Constants" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Shared.AccountService.Models" version="1.0.0.10" targetFramework="net452" />
  <package id="PH.Shared.Constants" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Shared.EmailService.Client.Rest" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Shared.EmailService.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Shared.EmailService.Models" version="1.0.0.3" targetFramework="net452" />
  <package id="PH.Shared.EmailService.Models.Interfaces" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Shared.Service" version="1.0.0.3" targetFramework="net452" />
  <package id="PH.Shared.Service.Rest" version="1.0.0.3" targetFramework="net452" />
  <package id="PH.Shared.Service.Rest.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Shared.Well.Constants" version="1.0.0.11" targetFramework="net452" />
  <package id="PH.Shared.Well.Data.EF" version="1.0.0.31" targetFramework="net452" />
  <package id="PH.Shared.Well.TranSend.File" version="1.0.0.4" targetFramework="net452" />
  <package id="StructureMap" version="4.5.1" targetFramework="net452" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net452" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
</packages>