<div class="col-md-12">
    <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" id="filter-option">{{selectedOption.description}}<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="filter-option">
                <li><a><i>Option</i></a></li>
                <li *ngFor="#option of options"><a (click)="setSelectedOption(option)">{{option.description}}</a></li>
            </ul>
        </div>
    </div>
    <div class="btn-group">
        <input type="text" class="form-control input-sm" [(ngModel)]="filterText" />
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm" (click)="applyFilter()">Filter</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm" (click)="clearFilterText()">Clear</button>
    </div>
</div>