<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Audits</li>
    </ol>
</div>
<div class="jumbotron">
    <ow-spinner [isRunning]="isLoading"></ow-spinner>
    <div *ngIf="!isLoading">
        <div *ngIf="!audits">
            <div class="alert alert-info">
                <strong>No audits have been recorded yet!</strong>
            </div>
        </div>
        <div *ngIf="audits">
            <div class="row">
                <div class="col-md-8">
                    <ow-optionfilter [options]="filterOptions"
                                     (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
                </div>
            </div>
            <div class="table-responsive table-container">
                <table id="tableAudits" class="table table-hover table-striped audits">
                    <thead>
                    <tr>
                        <th>Entry</th>
                        <th>Type</th>
                        <th>Invoice No</th>
                        <th>Account</th>
                        <th>Delivery Date</th>
                        <th>Audit Date</th>
                        <th>Audit By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="grid-row" *ngFor="let audit of audits | optionFilter: filterOption | paginate: { itemsPerPage: pageSize, currentPage: p }">
                        <td class="entry">{{audit.entry}}</td>
                        <td>{{audit.type}}</td>
                        <td>{{audit.invoiceNumber}}</td>
                        <td>{{audit.account}}</td>
                        <td>{{audit.deliveryDate | date:'dd/MM/y'}}</td>
                        <td>{{audit.auditDate | date:'dd/MM/y'}}</td>
                        <td>{{audit.auditBy}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="audits" class="row">
            <div class="col-md-12">
                <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>