<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Well" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=Well;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WellEntities" connectionString="metadata=res://*/WellModel.csdl|res://*/WellModel.ssdl|res://*/WellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlserver2014;initial catalog=Well;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="transactionTimeout" value="10" />
    <add key="CommandTimeoutSeconds" value="180" />
    <add key="MaxNoOfDeadlockRetries" value="3" />
    <!--<add key="adamUserName" value="FLP" />
    <add key="adamPassword" value="1718" />-->
    <add key="adam_Default" value="Server=charon;Port=12033;Rfs=BR03;Username=Flp;Password=1718" />
    <add key="adamMedway" value="" />
    <add key="adamCoventry" value="" />
    <add key="adamFareham" value="" />
    <add key="adamDunfermline" value="" />
    <add key="adamLeeds" value="" />
    <add key="adamHemel" value="" />
    <add key="adamBirtley" value="" />
    <add key="adamBelfast" value="" />
    <add key="adamBrandon" value="" />
    <add key="adamPlymouth" value="" />
    <add key="adamBristol" value="" />
    <add key="adamHaydock" value="Port=12203;Rfs=BR20" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>