<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="PH.Common.Entity.Interfaces" version="1.0.0.2" targetFramework="net452" />
  <package id="PH.Common.Security.Interfaces" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.T4Templates" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.T4Templates.Generators" version="1.0.0.6" targetFramework="net452" />
  <package id="PH.Shared.Well.Constants" version="1.0.0.11" targetFramework="net452" />
  <package id="PH.Shared.Well.Data.EF" version="1.0.0.14" targetFramework="net452" />
  <package id="structuremap" version="3.1.1.134" targetFramework="net452" />
</packages>