<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="active">
                Approvals
            </li>
        </ol>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label> Current threshold</label>
                <span>{{ currentUserThreshold() | currency:'GBP':true }}</span>
            </div>
            <div>
                <label for="underThreshold">Only show items within my threshold limit</label>
                <input id="underThreshold" type="checkbox" title="" (change)="setCreditFilterValue($event)" [(ngModel)]="thresholdFilter"/>
                <input type="hidden" [(ngModel)]="filters.creditValue" >
            </div>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-default" (click)="refreshDataFromAPI()">
                Refresh Data
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button type="button" class="btn btn-primary" (click)="clearFilter()">Clear Filter</button>
            <button *ngIf="!isReadOnlyUser" 
                    type="button" 
                    [disabled]="disableSubmitActions()"
                    class="btn btn-success" 
                    (click)="submitActions()">Submit</button>
            <button *ngIf="!isReadOnlyUser" 
                    [disabled]="disableSubmitActions()" 
                    type="button" 
                    class="btn btn-danger"
                    data-toggle="modal" 
                    data-target="#confirmModal">Reject</button>
        </div>
    </div>

     <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Reject Exceptions</h4>
                </div>
                <div class="modal-body table-responsive table-container">
                    <table class="table table-striped" style="table-layout: fixed">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Invoice No</th>
                                <th>Submitted by</th>
                                <th>Quantity</th>
                                <th>Credit Value</th>
                            </tr>
                        <tbody>
                            <tr *ngFor="let item of selectedItems()">
                                <td>{{item.account}}</td>
                                <td>{{item.invoiceNumber}}</td>
                                <td>{{item.submittedBy}}</td>
                                <td class="text-right">{{item.creditQuantity}}</td>
                                <td class="text-right">{{item.creditValue | currency:'GBP':true}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td class="text-right"> {{getTotalQuantitySelected()}}</td>
                                <td class="text-right"> {{getTotalCreditedSelected() | currency:'GBP':true}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" #closeModal>Close</button>
                    <button type="button" class="btn btn-primary" (click)="rejectExceptions()">Confirm</button>
                </div>
            </div>
        </div>
    </div> 


    <div class="row">
        <div class="table-responsive table-container col-md-12">
            <table class="table table-striped" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th (click)="sortData('branchName', $event)" [style.background-color]="isSortedBy('branchName') ? '#bfbfbf': ''">
                            <div class="text-center">Branch &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('branchName')" aria-hidden="true"></span></div>
                            <div>
                                <select class="form-control" 
                                        id="searchBranch" 
                                        (change)="changeBranch($event)" 
                                        [(ngModel)]="globalSettingsService.currentBranchId">
                                    <option *ngFor="let branch of branches" [value]="branch[0]">
                                        {{ branch[1] }}
                                    </option>
                                </select>
                            </div>
                        </th>
                        <th class="colAccount" (click)="sortData('account', $event)" [style.background-color]="isSortedBy('account') ? '#bfbfbf': ''">
                            <div class="text-center">Account &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('account')" aria-hidden="true"></span></div>
                            <div>
                                <input type="text" [(ngModel)]="filters.account" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th (click)="sortData('deliveryDateFormatted', $event)" [style.background-color]="isSortedBy('deliveryDateFormatted') ? '#bfbfbf': ''">
                            <div class="text-center">Delivery Date &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('deliveryDateFormatted')" aria-hidden="true"></span></div>
                            <div>
                                <input type="date" [(ngModel)]="filters.deliveryDateFormatted" (change)="fillGridSource()" class="form-control">
                            </div>
                        </th>
                        <th class="colInvoice" (click)="sortData('invoiceNumber', $event)" [style.background-color]="isSortedBy('invoiceNumber') ? '#bfbfbf': ''">
                            <div class="text-center">Invoice No &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('invoiceNumber')" aria-hidden="true"></span></div>
                            <div>
                                <input type="text" [(ngModel)]="filters.invoiceNumber" (keyup)="filterFreeText()" class="form-control">
                            </div>
                        </th>
                        <th class="colUser" (click)="sortData('submittedBy', $event)" [style.background-color]="isSortedBy('submittedBy') ? '#bfbfbf': ''">
                            <div class="text-center">Submitted by &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('submittedBy')" aria-hidden="true"></span></div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.submittedBy" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option *ngFor="let a of assignees" [value]="a">{{a}}</option>
                                </select>
                            </div>
                        </th>
                        <th (click)="sortData('dateSubmitted', $event)" [style.background-color]="isSortedBy('dateSubmitted') ? '#bfbfbf': ''">
                            <div class="text-center">Date Submitted &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('dateSubmitted')" aria-hidden="true"></span></div>
                            <div>
                                <input type="date" [(ngModel)]="filters.dateSubmittedFormatted" (change)="fillGridSource()" class="form-control">
                            </div>
                        </th>
                        <th class="colQty" (click)="sortData('creditQuantity', $event)" [style.background-color]="isSortedBy('creditQuantity') ? '#bfbfbf': ''">
                            <div class="text-center">Quantity &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('creditQuantity')" aria-hidden="true"></span></div>
                            <div class="form-control-placeholder">&nbsp;</div>
                        </th>
                        <th class="colValue" (click)="sortData('creditValue', $event)" [style.background-color]="isSortedBy('creditValue') ? '#bfbfbf': ''">
                            <div class="text-center">Credit Value &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('creditValue')" aria-hidden="true"></span></div>
                            <div class="form-control-placeholder">&nbsp;</div>
                        </th>
                        <th class="colUser" (click)="sortData('assignedTo', $event)" [style.background-color]="isSortedBy('assignedTo') ? '#bfbfbf': ''">
                            <div class="text-center">Assignee &nbsp;<span class="glyphicon" [ngClass]="getSortStyles('assignedTo')" aria-hidden="true"></span></div>
                            <div>
                                <select class="form-control" [(ngModel)]="filters.assignedTo" (change)="fillGridSource()" title="">
                                    <option value>All</option>
                                    <option *ngFor="let a of assigneesTo" [value]="a">{{a}}</option>
                                </select>
                            </div>
                        </th>
                        <th *ngIf="!isReadOnlyUser" class="colCheckbox"><input type="checkbox" [checked]="allChildrenSelected()" (change)="selectAll($event.target.checked)"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of gridSource">
                        <td>{{item.branchName}}</td>
                        <td>{{item.account}}</td>
                        <td class="text-center">{{item.deliveryDate | date:'dd MMM yyyy'}}</td>
                        <td>
                            <a [routerLink]="['/invoice', globalSettingsService.currentBranchId, item.invoiceId]">{{item.invoiceNumber}}</a>
                        </td>
                        <td>{{item.submittedBy}}</td>
                        <td class="text-center">{{item.dateSubmitted | date:'dd MMM yyyy HH:mm:ss' }}</td>
                        <td class="text-right">{{item.creditQuantity}}</td>
                        <td class="text-right">{{item.creditValue | currency:'GBP':true}}</td>
                        <td>
                            <assign-modal (onAssigned)="onAssigned($event)" [model]="getAssignModel(item)"></assign-modal>
                        </td>
                        <td *ngIf="!isReadOnlyUser">
                            <input *ngIf="item?.assignedTo " type="checkbox" [(ngModel)]="item.isSelected" title="">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="gridSource.length == 0" class="alert alert-warning" role="alert">
                <strong>No matching results</strong>
            </div>
        </div>
    </div>
</div>
<submit-action-Modal [disabled]="disableSubmitActions()"
                     [jobIds]="getSelectedJobIds()"
                     (onSubmitted)="jobsSubmitted()">
</submit-action-Modal>