<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Routes</li>
    </ol>
</div>
<div class="jumbotron">
    <div class="row">
        <ow-optionfilter [options]="options"
                         (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
    </div>
    <div class="table-responsive table-container">
        <table class="table table-hover table-bordered" *ngIf='routes && routes.length'>
            <thead>
            <tr>
                <th>Route</th>
                <th>Driver</th>
                <th>No of Drops</th>
                <th>Exceptions</th>
                <th>Clean</th>
                <th>Status</th>
                <th>Last updated date/time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#route of routes | optionFilter:filterOption | paginate: { itemsPerPage: rowCount, currentPage: p }" (click)="routeSelected(route)">
                <td>{{route.route}}</td>
                <td>{{route.driverName}}</td>
                <td>{{route.totalDrops}}</td>
                <td>{{route.deliveryExceptionCount}}</td>
                <td>{{route.deliveryCleanCount}}</td>
                <td>{{route.routeStatus}}</td>
                <td>{{route.dateTimeUpdated}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row pull-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>