<form [formGroup]="searchForm" (ngSubmit)="search($event)" class="form-horizontal">
    <div class="form-group form-group-lg">
        <div class="col-lg-6">
            <label for="searchBranch" class="col-lg-3 control-label">Branch</label>
            <div class="col-lg-9">
                <select class="form-control" id="searchBranch" formControlName="branch"
                        [ngModel]="searchForm.value.branch">
                    <option value="" disabled selected>Select one</option>
                    <option *ngFor="let branch of branches" [value]="branch[0]">
                        {{ branch[1] }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <label for="searchDate" class="col-lg-4 control-label">Date</label>
            <div class="col-lg-8">
                <input type="date" id="searchDate" formControlName="date" />
            </div>
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="col-lg-6">
            <label for="searchAccount" class="col-lg-3 control-label">Account No.</label>
            <div class="col-lg-9">
                <input id="searchAccount" type="text" class="form-control" formControlName="account">
            </div>
        </div>
        <div class="col-lg-6">
            <label for="searchInvoice" class="col-lg-4 control-label">Invoice No.</label>
            <div class="col-lg-8">
                <input id="searchInvoice" type="text" class="form-control" formControlName="invoice">
            </div>
        </div>
    </div>
   

    

    <div class="form-group form-group-lg clearfix">
        <div class="col-lg-6">
            <div class="pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showMore()">
                        More <span class="caret"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <button type="reset" class="btn btn-primary">Clear</button>&nbsp;&nbsp;
                <button id="appSearchSearch" type="submit" class="btn btn-success" [disabled]="isEmptySearch()">Search</button>
            </div>
        </div>
    </div>
    <div *ngIf="showMoreFilters">
        <div class="form-group form-group-lg">
            <div class="col-lg-6">
                <label for="searchUplift" class="col-lg-3 control-label">Uplift Invoice No.</label>
                <div class="col-lg-9">
                    <input id="searchUplift" type="text" class="form-control" formControlName="upliftInvoiceNumber">
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        
        <div class="form-group form-group-lg">

            <div class="col-lg-6">
                <label for="searchRoute" class="col-lg-3 control-label">Route</label>
                <div class="col-lg-9">
                    <input id="searchRoute" type="text" maxlength="3" class="form-control" formControlName="route">
                </div>
            </div>

            <div class="col-lg-6">
                <label for="searchDriver" class="col-lg-4 control-label">Driver</label>
                <div class="col-lg-8">
                    <select class="form-control" id="searchDriver" formControlName="driver">
                        <option value>All</option>
                        <option *ngFor="let driver of drivers" [value]="driver.key">{{ driver.value }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
 
</form>
<div *ngIf="currentResult">
    <div class="list-group">
        <ng-container *ngFor="let item of currentResult.items">
            <a href="#" class="list-group-item" *ngIf="item.itemType == 1">
                <div class="row" >
                    <div class="col-xs-3">
                        <label>Type</label><span> {{item.type}}</span>
                    </div> 
                    <div class="col-xs-3">
                        <label>Date</label><span> {{item.date | date:'dd MMM yyyy'}}</span>
                    </div> 
                    <div class="col-xs-3">
                        <label>Document Number</label><span> {{item.documentNumber}}</span>
                    </div> 
                    <div class="col-xs-3">
                        <label>Name</label><span> {{item.LocationName}}</span>
                    </div>
                </div>
            </a>
            
            <a href="#" class="list-group-item" *ngIf="item.itemType == 2">
                <div class="row">
                    <div class="col-xs-3">
                        <label>Type</label><span> Location</span>
                    </div>
                    <div class="col-xs-3">
                        <label>Name</label><span> {{item.name}}</span>
                    </div>
                    <div class="col-xs-3">
                        <label>Account Number</label><span> {{item.accountNumber}}</span>
                    </div>
                </div>
            </a>
            
            <a href="#" class="list-group-item" *ngIf="item.itemType == 3">
                <div class="row">
                    <div class="col-xs-3">
                        <label>Type</label><span> Route</span>
                    </div>
                    <div class="col-xs-3">
                        <label>Date</label><span> {{item.date | date:'dd MMM yyyy' }}</span>
                    </div>
                    <div class="col-xs-3">
                        <label>Route Number</label><span> {{item.routeNumber}}</span>
                    </div>
                    <div class="col-xs-3">
                        <label>Driver Name</label><span> {{item.driverName}}</span>
                    </div>
                </div>
            </a>
        </ng-container>
    </div>
</div>
