@using PH.Well.Dashboard.Extensions

@{
    Layout = null;
}

<ow-loading></ow-loading>

<div class="app">
    <div class="row-fluid">
        <div>
            <a routerLink="/widgets" routerLinkActive="active" title="Home">
                <div class="logo"><img src="" /></div>
            </a>
            <div id="headerHolder">
                <a id="branch-selection" routerLink="/branch" routerLinkActive="active">{{branches}} {{currentBranchIdDisplay}}</a>
            </div>
            <div id="user-details" class="pull-right">
                <div>Logged in as <span id="current-user-name">@Html.EmployeeDisplayName()</span></div>
                <img id="avatar" src="@Html.EmployeeAvatar()" alt="@Html.EmployeeDisplayName()" height="41" width="41" />
            </div>
        </div>
    </div>
    <div class="row-fluid"><div id="nav">
            <ul class="nav nav-pills" style="min-height: 39px;">
                <li><a routerLink="/widgets" routerLinkActive="active" title="Home">Home</a></li>
                <li><a routerLink="/locations//{{globalSettingsService.currentBranchId}}" routerLinkActive="active">Locations</a></li>
                <li><a routerLink="/routes/{{globalSettingsService.currentBranchId}}" routerLinkActive="active" title="View jobs by route">Routes</a></li>
                <li><a routerLink="/approvals" routerLinkActive="active">Approvals</a></li>
                <li><a routerLink="/notifications" routerLinkActive="active" title="View notifications">Notifications</a></li>
                <li class="dropdown pull-right">
                    <a href="#" class="glyphicon glyphicon-search" data-toggle="modal" data-target="#appSearchModal">
                        <span class="sr-only">Search...</span>
                    </a>
                    <ow-menubarappSearch></ow-menubarappSearch>
                </li>
                <li *ngIf="IsWellAdmin || IsWellDeveloper" class="dropdown pull-right" id="admin-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="admin-dropdown-anchor">
                        Admin <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="user-preference-selection" routerLink="/preferences" routerLinkActive="active">User Branch Preferences</a></li>
                        <li><a id="user-threshold" routerLink="/user-threshold" routerLinkActive="active">User Threshold Level</a></li>
                        <li><a id="branch-preference" routerLink="/branch-role" routerLinkActive="active">Branch Parameters</a></li>
                        <li *ngIf="IsWellDeveloper"><a routerLink="/closeExceptionsForBranch" routerLinkActive="active" title="View notifications">closeExceptionsForBranch</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container padding-top-15" style="padding-bottom:50px">
    <toaster-container></toaster-container>
    <router-outlet></router-outlet>
</div>
<input type="hidden" value="loaded" id="page-loaded" />
<footer class="navbar navbar-fixed-bottom hidden-print">
    <div class="container">
        <div class="pull-right">
            <span>{{version}}</span>
        </div>
    </div>
</footer>