@model PH.Well.Dashboard.Models.BootstrapData
@{
    ViewBag.Title = "Order Well";
}

<ow-app>
    <div class="in modal-backdrop spinner-overlay"></div>
    <div class="spinner-message-container" aria-live="assertive" aria-atomic="true">
        <div class="spinner-background">
            <div class="sk-chasing-dots">
                <div class="sk-child sk-dot1"></div>
                <div class="sk-child sk-dot2"></div>
            </div>
            <div class="spinner-message">Loading application, please wait...</div>
        </div>
    </div>
</ow-app>