<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrderWellApi" value="http://localhost/well/api/" />
    <add key="transactionTimeout" value="10" />
    <add key="Domains" value="palmerharvey" />
    <add key="adamUserName" value="FLP" />
    <add key="adamPassword" value="1718" />
    <add key="adamServer" value="charon" />
    <add key="adamRfsMedway" value="BR05" />
    <add key="adamPortMedway" value="12053" />
    <add key="adamRfsCoventry" value="BR03" />
    <add key="adamPortCoventry" value="12033" />
    <add key="adamRfsFareham" value="BR03" />
    <add key="adamPortFareham" value="12033" />
    <add key="adamRfsDunfermline" value="BR03" />
    <add key="adamPortDunfermline" value="12033" />
    <add key="adamRfsLeeds" value="BR03" />
    <add key="adamPortLeeds" value="12033" />
    <add key="adamRfsHemel" value="BR03" />
    <add key="adamPortHemel" value="12033" />
    <add key="adamRfsBirtley" value="BR03" />
    <add key="adamPortBirtley" value="12033" />
    <add key="adamRfsBelfast" value="BR03" />
    <add key="adamPortBelfast" value="12033" />
    <add key="adamRfsBrandon" value="BR03" />
    <add key="adamPortBrandon" value="12033" />
    <add key="adamRfsPlymouth" value="BR03" />
    <add key="adamPortPlymouth" value="12033" />
    <add key="adamRfsBristol" value="BR03" />
    <add key="adamPortBristol" value="12033" />
    <add key="adamRfsHaydock" value="BR20" />
    <add key="adamPortHaydock" value="12203" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>