<div class="table-responsive table-container">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>From</th>
            <th>To</th>
            <th>Branches</th>
            <th style="text-align: right;"><button id="add-seasonal-date" type="button" class="btn btn-primary" (click)="add()">Add</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="seasonalDates && seasonalDates.length === 0">
            <td colspan="5">No Seasonal Dates!</td>
        </tr>
        <tr class="grid-row" *ngFor="let x of seasonalDates">
            <td (click)="selectSeason(x)">{{x.description}}</td>
            <td (click)="selectSeason(x)">{{x.fromDate}}</td>
            <td (click)="selectSeason(x)">{{x.toDate}}</td>
            <td (click)="selectSeason(x)">{{x.branchName}}</td>
            <td style="text-align: right;" (click)="remove(x)"><span title="Remove" class="glyphicon glyphicon-remove"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<ow-seasonal-edit-modal (onUpdate)="loadSeasonalDates($event)"></ow-seasonal-edit-modal>
<ow-seasonal-add-modal (onSave)="loadSeasonalDates($event)"></ow-seasonal-add-modal>
<ow-seasonal-remove-modal (onRemoved)="onRemoved($event)"></ow-seasonal-remove-modal>