<div *ngIf="isVisible" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add seasonal date range</h4> 
            </div>
            <div class="modal-body">
                <div *ngIf="errors && errors.length > 0">
                    <div class="alert alert-danger" style="max-width: 400px;">
                        <div class="seasonal-error" *ngFor="let error of errors"><strong>{{error}}</strong></div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="seasonal-date-description">Description</label>
                            <div class="col-md-9">
                                <input type="text" id="seasonal-date-description" class="form-control" placeholder="Description" [(ngModel)]="seasonalDate.description"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="fromDate">From</label>
                            <div class="col-md-9">
                                <input id="fromDate" type="date" class="form-control" [(ngModel)]="seasonalDate.fromDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="toDate">To</label>
                            <div class="col-md-9">
                                <input id="toDate" type="date" class="form-control" [(ngModel)]="seasonalDate.toDate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ow-branch-select></ow-branch-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group"><button id="seasonal-date-save" type="button" class="btn btn-primary" [disabled]="canSave()" (click)="save()">Save</button></div>
                <div class="btn-group"><button id="seasonal-date-close" type="button" class="btn btn-default" (click)="hide()">Close</button></div>
            </div>
        </div>
    </div>
</div>