<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a routerLink="/routes" routerLinkActive="active">Routes</a>
            </li>
            <li>
                <a routerLink="/singleroute/{{stop.routeId}}" routerLinkActive="active">Route {{stop.routeNumber}}</a>
            </li>
            <li class="active" *ngIf="!isActionMode">
                Stop {{stop.stopNo}} of {{stop.totalNoOfStopsOnRoute}}
            </li>
            <li *ngIf="isActionMode">
                <a href="#" (click)="closeEdit($event)">Stop {{stop.stopNo}} of {{stop.totalNoOfStopsOnRoute}}</a>
            </li>
            <li class="active" *ngIf="isActionMode">
                Edit Exceptions
            </li>
        </ol>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><label>Branch:&nbsp;</label>{{stop.branch}}</li>
                <li><label>Driver:&nbsp;</label>{{stop.driver}}</li>
                <li><label>Date:&nbsp;</label>{{stop.routeDate | date:'dd MMM yy'}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <address>
                <strong>{{customerAccount.name}}</strong><br />
                <span>{{customerAccount.address1}}</span><br />
                <span>{{customerAccount.address2}}</span><br />
                <span>{{customerAccount.postCode}}</span><br />
            </address>
        </div>
        <div class="col-md-3">
            <strong>{{customerAccount.contactName}}</strong><br />
            <label>Phone :</label><span> {{customerAccount.contactNumber}}</span><br />
            <label>Alt Phone :</label><span> {{customerAccount.contactNumber2}}</span><br />
            <label>Email :</label><a href="mailto:{{customerAccount.contactEmailAddress}}"> {{customerAccount.contactEmailAddress}}</a><br />
        </div>
        <div class="col-md-3">
            <div class="pull-right">
                <ul class="list-unstyled">
                    <li *ngIf="stop.branchId"><label>Assigned to:&nbsp;</label><assign-modal (onAssigned)="onAssigned($event)" [model]="getAssignModel()"></assign-modal></li>
                    <li>&nbsp;</li>
                    <li>
                        <label>Shorts To Be Advised:&nbsp;</label>{{stop.tba}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div [hidden]="isActionMode">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="clearFilter(dt)">Clear Filter</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning" (click)="bulkEdit()" [disabled]="disableBulkEdit()">Edit Exceptions</button>
                    </div>
                    <div class="btn-group">
                        <submit-action-Modal [disabled]="disableSubmitActions()" [jobIds]="getSelectedJobIds()" (onSubmitted)="jobsSubmitted($event)"> </submit-action-Modal>
                    </div>
                    <!--<button #btt type="button" [disabled]="selectedItems().length == 0" class="btn btn-success" (click)="isActionMode = true">Edit</button>-->
                </div>
            </div>
        </div>
        <div class="row">
            <a #openContact style="display: none;" href="#" data-toggle="modal" data-target="#contactModal">&nbsp;</a>
            <div class="table-responsive table-container col-md-12">
                <table class="table table-striped" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th class="colExpandAll">
                                <a href="#" (click)="expandGroup($event)">
                                    <div *ngIf="areAllExpanded(); then allExpended else notAllExpanded"> </div>
                                    <ng-template #allExpended>
                                        <span class="fa fa-arrow-circle-down"></span>
                                    </ng-template>
                                    <ng-template #notAllExpanded>
                                        <span class="fa fa-arrow-circle-right"></span>
                                    </ng-template>
                                </a>
                            </th>
                            <th class="colProduct">
                                <div class="text-center">Product</div>
                                <div>
                                    <input type="text" [(ngModel)]="filters.product" (keyup)="filterFreeText()" class="form-control">
                                </div>
                            </th>
                            <th class="colType">
                                <div class="text-center">Type</div>
                                <div>
                                    <select class="form-control" id="searchJobType" [(ngModel)]="filters.type" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option *ngFor="let jobType of jobTypes" [value]="jobType.value">
                                            {{ jobType.value }}
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th class="colTobacco">
                                <div class="text-center">Tobacco</div>
                                <div>
                                    <select class="form-control" id="searchTobacco" [(ngModel)]="filters.barCode" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option *ngFor="let bag of tobaccoBags" [value]="bag[0]">
                                            {{ bag[1] }}
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th class="colDescription">
                                <div class="text-center">Description</div>
                                <div>
                                    <input type="text" [(ngModel)]="filters.description" (keyup)="filterFreeText()" class="form-control">
                                </div>
                            </th>
                            <th class="colNumbers">
                                <div class="text-center">Value</div>
                                <div class="form-control-placeholder"></div>
                            </th>
                            <th class="colNumbers">
                                <div class="expected-tooltip">
                                    <tooltip-content #expectedTooltip placement="top">
                                        <table>
                                            <tr>
                                                <td>For deliveries, the number of outers invoiced. For uplifts, the number of outers to be collected</td>
                                            </tr>
                                        </table>
                                    </tooltip-content>

                                    <a href="#" aria-hidden="true" (click)="voidLink($event)"
                                       [tooltip]="expectedTooltip"
                                       tooltipPlacement="right">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </div>
                                <div class="text-center">Expected</div>
                                <div class="form-control-placeholder"></div>
                            </th>
                            <th class="colNumbers">
                                <div class="actual-tooltip">
                                    <tooltip-content #actualTooltip placement="top">
                                        <table>
                                            <tr>
                                                <td>For deliveries, the number of outers delivered. For uplifts, the number of outers collected</td>
                                            </tr>
                                        </table>
                                    </tooltip-content>

                                    <a href="#" aria-hidden="true" (click)="voidLink($event)"
                                       [tooltip]="actualTooltip"
                                       tooltipPlacement="right">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </div>
                                <div class="text-center">Actual</div>
                                <div class="form-control-placeholder"></div>
                            </th>
                            <th class="exceptionsFilter" colspan="2">
                                <div class="text-center col-md-6">Damages</div>
                                <div class="text-center col-md-6">Shorts</div>
                                <div>
                                    <select class="form-control" [(ngModel)]="filters.exceptionsFilter" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option value="2">With Shorts</option>
                                        <option value="1">With Damages</option>
                                        <option value="3">With Exceptions</option>
                                        <option value="4">All Clean</option>
                                    </select>
                                </div>
                            </th>
                            <th class="colNumbers">
                                <div class="text-center">Checked</div>
                                <div>
                                    <select class="form-control" [(ngModel)]="filters.checked" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </th>
                            <th class="colNumbers">
                                <div class="text-center">High Value</div>
                                <div>
                                    <select class="form-control" [(ngModel)]="filters.highValue" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </th>
                            <th class="colNumbers">
                                <div class="text-center">
                                    Exception Resolution
                                </div>
                                <div>
                                    <select class="form-control" [(ngModel)]="filters.resolutionId" (change)="fillGridSource()" title="">
                                        <option value>All</option>
                                        <option *ngFor="let resolutionStatus of resolutionStatuses" [value]="resolutionStatus.key">
                                            {{resolutionStatus.value}}
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th class="colCheckbox">
                                <input type="checkbox" title="" [checked]="allChildrenSelected(null)" (change)="selectAllJobs($event.target.checked)">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of gridSource">
                            <tr *ngIf="item.isRowGroup" class="info">
                                <td>
                                    <a href="#" (click)="expandGroup($event, item.jobId)">
                                        <span class="fa" [class.fa-arrow-circle-down]="item.isExpanded" [class.fa-arrow-circle-right]="!item.isExpanded"></span>
                                    </a>
                                </td>
                                <td colspan="2">
                                    <label>Invoice: </label>
                                    <a routerLink="{{getInvoiceLink(item)}}">{{item.invoice}}</a>
                                </td>
                                <td>
                                    <label>Type: </label>
                                    {{item.types}}
                                </td>
                                <td colspan="2">
                                    <label>Account: </label>
                                    {{item.account}}
                                    <assignGrn-Modal *ngIf="isGrnRequired(item)" [model]="item"></assignGrn-Modal>
                                </td>
                                <td class="text-right">{{item.totalInvoiced}}</td>
                                <td class="text-right">{{(item.resolutionId != 1)? item.totalInvoiced - (item.totalDamages + item.totalShorts) : 0}}</td>
                                <td class="text-right">{{item.totalDamages}}</td>
                                <td class="text-right">{{item.totalShorts}}</td>
                                <td></td>
                                <td></td>
                                <td>{{item.resolution}}</td>
                                <td><input type="checkbox" [checked]="allChildrenSelected(item.jobId)" (change)="selectJobs($event.target.checked, item.jobId)" /></td>
                            </tr>
                            <tr *ngIf="!item.isRowGroup">
                                <td></td>
                                <td>{{item.product}}</td>
                                <td>{{item.type}}</td>
                                <td>
                                    <div *ngIf="item.barCode != 'NoBarCode'" class="hideOverflow" title="{{item.barCode}}">
                                        <abbr>{{ item.barCode | slice:-12 }}</abbr>
                                    </div>
                                </td>
                                <td>{{item.description}}</td>
                                <td class="text-right">{{item.value}}</td>
                                <td class="text-right">{{item.invoiced}}</td>
                                <td class="text-right">{{(item.resolutionId != 1)? item.invoiced - (item.damages + item.shorts) : 0}}</td>
                                <td class="text-right">{{item.damages}}</td>
                                <td class="text-right">{{item.shorts}}</td>
                                <td class="text-center"><span *ngIf="item.checked" class="glyphicon glyphicon-ok"></span></td>
                                <td class="text-center"><span *ngIf="item.highValue" class="glyphicon glyphicon-ok"></span></td>
                                <td class="text-left"><span *ngIf="item.hasUnresolvedActions">Action Required</span></td>
                                <td>
                                    <a href="#" (click)="editLineItemActions(item, $event)" title="Edit" data-toggle="modal" *ngIf="item.lineItemId != 0">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <input type="checkbox" [(ngModel)]="item.isSelected" title="">
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div *ngIf="gridSource.length == 0" class="alert alert-warning" role="alert">
                    <strong>No matching results</strong>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isActionMode">
        <div class="row">
            <div class="col-md-12">
                <ow-editExceptions [ids]="selectedLineItems()" (close)="isActionMode = false"></ow-editExceptions>
            </div>
        </div>
    </div>
</div>
<action-edit (onSave)="lineItemSaved($event)"></action-edit>
<contact-modal></contact-modal>
<bulk-edit-action-modal [lineItemIds]="selectedLineItems()" (onSave)="bulkEditSave($event)"></bulk-edit-action-modal>