<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Branch Selection</li>
    </ol>
</div>
<div class="jumbotron">
    <div class="alert alert-info">
        <strong *ngIf="!username">Select the branches you want to see information about using the checkboxes below!</strong>
        <strong *ngIf="username">Select the branches to set up for {{username}}</strong>
    </div>
    <div class="well">
        <ow-branch-select [username]="username"></ow-branch-select>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" (click)="save()" id="save">Save</button>
    </div>
</div>


