<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Branch Selection</li>
    </ol>
</div>
<toaster-container></toaster-container>
<div class="jumbotron">
    <div class="alert alert-info">
        <strong *ngIf="!username">Select the branches you want to see information about using the checkboxes below!</strong>
        <strong *ngIf="username">Select the branches to set up for {{username}}</strong>
    </div>
    <div class="well">
        <div class="checkbox">
            <label>
                <input id="select-all-branches" type="checkbox" (change)="selectAll(selectAllCheckbox)" [(ngModel)]="selectAllCheckbox" />Select all
            </label>
        </div>
        <div class="checkbox" *ngFor="let branch of branches">
            <label>
                <input id="{{branch.name}}" class="branch-checkboxes" type="checkbox" [(ngModel)]="branch.selected" (change)="selectBranch(branch)" />{{branch.name}} ({{branch.id}})
            </label>
        </div>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" (click)="save()" id="save">Save</button>
    </div>
</div>


