

<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Clean Deliveries</li>
    </ol>
</div>

<div class="jumbotron">
    <div *ngIf="!cleanDeliveries">
        <div class="alert alert-info"><strong>No clean deliveries!</strong></div>
    </div>
    <div *ngIf="cleanDeliveries && cleanDeliveries.length">
        <div class="row">
            <ow-optionfilter [options]="options"
                             (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
        </div>

        <div class="table-responsive table-container">
            <table id="tableCleanDeliveries" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Route</th>
                    <th>Drop</th>
                    <th>Invoice No</th>
                    <th>Account</th>
                    <th>Account Name</th>
                    <th>Contact</th>
                    <th>Last updated date/time</th>
                </tr>
                </thead>
                <tbody>
                <tr class="grid-row" *ngFor="let delivery of cleanDeliveries | optionFilter:filterOption | paginate: { itemsPerPage: rowCount, currentPage: p }">
                    <td (click)="deliverySelected(delivery)">{{delivery.routeNumber}}</td>
                    <td (click)="deliverySelected(delivery)">{{delivery.dropId}}</td>
                    <td (click)="deliverySelected(delivery)">{{delivery.invoiceNumber}}</td>
                    <td (click)="deliverySelected(delivery)">{{delivery.accountCode}}</td>
                    <td (click)="deliverySelected(delivery)">{{delivery.accountName}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" (click)="openModal(delivery.accountId)">Info</button>
                    </td>
                    <td (click)="deliverySelected(delivery)">{{delivery.dateTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
        <div class="col-md-6" *ngIf="cleanDeliveries && cleanDeliveries.length">
            <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<contact-modal></contact-modal>