

<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Clean Deliveries</li>
    </ol>
</div>

<div class="jumbotron">
    <div class="row">
        <ow-optionfilter [options]="options"
                         (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
    </div>

    <div class="table-responsive table-container">
        <table class="table table-hover table-bordered" *ngIf="cleanDeliveries && cleanDeliveries.length">
            <thead>
            <tr>
                <th>Route</th>
                <th>Drop</th>
                <th>Invoice No</th>
                <th>Account</th>
                <th>Account Name</th>
                <th>Status</th>
                <th>Last updated date/time</th>
                <th>Contact Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#delivery of cleanDeliveries | optionFilter:filterOption | paginate: { itemsPerPage: rowCount, currentPage: p }" (click)="deliverySelected(delivery)">
                <td>{{delivery.routeNumber}}</td>
                <td>{{delivery.dropId}}</td>
                <td>{{delivery.invoiceNumber}}</td>
                <td>{{delivery.accountCode}}</td>
                <td>{{delivery.accountName}}</td>
                <td>{{delivery.jobStatus}}</td>
                <td>{{delivery.dateTime}}</td>
                <td><button type="button" class="btn btn-default" (click)="modal.open()">Contact</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row pull-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>


