<div class="form-inline">
    <div class="form-group pull-right">
        <div class="btn-group" role="group">
            <!--<action-Modal [disabled]="selectedItems().length == 0" [actionSummaryData] ="getActionSummaryData()">
                <div class="table-responsive table-container">
                    <table id="tableExceptionDeliveries" class="table table-hover table-striped">
                        <thead>
                        <tr style="height: auto">
                            <th></th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Exception</th>
                            <th style="width: 5%"><span class="pull-right">Qty</span></th>
                            <th style="width: 5%"><span class="pull-right">Value</span></th>
                            <th>Action</th>
                            <th>Source</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="grid-row" *ngFor="let item of  selectedItems()" style="height: auto">
                            <td></td>
                            <td>{{item.productNumber}}</td>
                            <td>{{item.product}}</td>
                            <td>{{item.exception}}</td>
                            <td><span class="pull-right">{{item.quantity}}</span></td>
                            <td><span class="pull-right">TODO:</span></td>
                            <td>{{item.action}}</td>
                            <td>{{item.source}}</td>
                            <td>{{item.reason}}</td>
                        </tr>
                    </table>
                </div>
            </action-Modal>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>
<div class="row">
    <div class="table-responsive table-container col-md-12">
        <table class="table table-hover table-striped" >
            <thead>
                <tr>
                    <th class="colExpandAll" style="width: 3%">
                        <a href="#" (click)="expandGroup($event)">
                            <div *ngIf="areAllExpanded(); then allExpended else notAllExpanded"> </div>
                            <ng-template #allExpended>
                                <span class="fa fa-arrow-circle-down"></span>
                            </ng-template>
                            <ng-template #notAllExpanded>
                                <span class="fa fa-arrow-circle-right"></span>
                            </ng-template>
                        </a>
                    </th>
                    <th style="width: 8%">Originator</th>
                    <th style="width: 9%">Exception</th>
                    <th style="width: 6%">Action</th>
                    <th style="width: 8%">Source</th>
                    <th style="width: 7%">Quantity</th>
                    <th style="width: 11%">Reason</th>
                    <th style="width: 11%">Actioned By</th>
                    <th style="width: 11%">Approver</th>
                    <th style="width: 4%; text-align: right"></th>
                </tr>
            </thead>
            <tbody  *ngFor="let item of source">
                <tr class="info">
                    <td colspan="10">
                        <div class="groupRow">
                            <div class="group1">
                                <a href="#" (click)="item.isExpanded = !item.isExpanded; $event.preventDefault()">
                                    <span class="fa" [class.fa-arrow-circle-down]="item.isExpanded" [class.fa-arrow-circle-right]="!item.isExpanded"></span>
                                </a>
                            </div>
                            <div class="group2">{{item.productNumber}}</div>
                            <div class="group3">{{item.product}}</div>
                            <div class="group4">{{totalPerGroup('invoiced', item.id)}}</div>
                            <div class="group5">{{totalPerGroup('delivered', item.id)}}</div>
                            <div class="group6">{{totalPerGroup('quantity', item.id)}}</div>
                            <div class="group7"></div>
                            <div class="group8"><button class="btn btn-default" type="button" (click)="addException({lineItemId: item.id})" data-toggle="modal" data-target="#exceptionsmodal">Add Exception</button></div>
                            <div class="group9">
                                <input type="checkbox" [checked]="allChildrenSelected(item.id)" (change)="selectLineItens($event.target.checked, item.id)" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let detail of item.exceptions" [style.display]="item.isExpanded ? 'table-row' : 'none'">
                    <td colspan="2">{{detail.originator}}</td>
                    <td>{{detail.exception}}</td>
                    <td>{{detail.action}}</td>
                    <td>{{detail.source}}</td>
                    <td>{{detail.quantity}}</td>
                    <td>{{detail.reason}}</td>
                    <td>{{detail.actionedby}}</td>
                    <td>{{detail.approvedby}}</td>
                    <td style="width: 4%; text-align: right">
                        <span>
                            <a href="#" class="glyphicon glyphicon-pencil" (click)="editLine(detail, $event)" title="Edit" data-toggle="modal" data-target="#exceptionsmodal"></a>
                            <input type="checkbox" [(ngModel)]="detail.isSelected" title="">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button class="btn btn-default" type="button" (click)="closeEdit()">Close</button>&nbsp;&nbsp;
        </div>
    </div>
</div>
<div class="modal fade" id="exceptionsmodal" role="dialog">
    <div class="modal-dialog modal-lg" *ngIf="openModal" >
        <div class="modal-content">
            <div class="modal-body">
                <edit-exceptions-modal [item]="lineItemToHandle" [isEditMode]="isEditMode" (onSave)="exceptionSaved($event)" (onCancel)="cancelExeption()"></edit-exceptions-modal>
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeExceptionsModal style="display: none">Close</button>
            </div>
        </div>
    </div>
</div>