<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editExceptionsModal">Action</button>

<div class="modal fade" id="editExceptionsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="row">
                    <div class="col-md-1">
                        <label for="deliveryAction">Action</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="deliveryAction">
                            <option *ngFor="let action of deliveryActions" [value]="action.key">
                                {{ action.value }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="quantity" />
                    </div>
                    <div class="col-md-1">
                        <label for="exceptionTypes">Exception</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="exceptionTypes">
                            <option *ngFor="let et of exceptionTypes" [ngValue]="et.key">
                                {{et.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="source">Source</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="source">
                            <option *ngFor="let source of sources" [value]="source.key">
                                {{ source.value }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="reason">Reason</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="reason">
                            <option *ngFor="let reason of reasons" [value]="reason.key">
                                {{ reason.value }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
</div>
