<div class="form-inline">
    <div class="form-group pull-right">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Stop Replaning</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p-dataTable [value]="source" groupField="id" expandableRowGroups="rowspan"
                     sortField="product" [sortableRowGroup]="false"
                     rowGroupMode="subheader" #dt>
            <ng-template pTemplate="rowgroupheader" let-rowData>
                <div class="groupRow">
                    <div class="group1">{{rowData.productNumber}}</div>
                    <div class="group2">{{rowData.product}}</div>
                    <div class="group3">{{totalPerGroup('invoiced', rowData.id)}}</div>
                    <div class="group4">{{totalPerGroup('delivered', rowData.id)}}</div>
                    <div class="group5">{{totalPerGroup('quantity', rowData.id)}}</div>
                    <div class="group6"></div>
                    <div class="group7"><button class="btn btn-default" type="button" (click)="addException(rowData)" data-toggle="modal" data-target="#exceptionsmodal">Add Exception</button></div>
                </div>
            </ng-template>
            <p-column header="" field="" [filter]="false" [sortable]="false" [style]="{'width':'3%'}"></p-column>
            <p-column header="Originator" field="originator" [style]="{'width': '8%'}">
                <ng-template pTemplate="header">
                    <div>Originator</div>
                </ng-template>
            </p-column>
            <p-column header="Exception" field="exception" [style]="{'width': '9%'}" [filter]="true" filterMatchMode="contains">
                <ng-template pTemplate="header">
                    <div>Exception</div>
                </ng-template>
                <ng-template pTemplate="filter" let-col>
                    <select class="form-control" (change)="dt.filter($event.target.value, col.field, col.filterMatchMode)" title="">
                        <option value>All</option>
                        <option *ngFor="let et of exceptionTypes" [value]="et.value">{{et.value}}</option>
                    </select>
                </ng-template>
            </p-column>
            <p-column header="Invoiced" field="invoiced" [style]="{'width': '7%'}">
                <ng-template pTemplate="header">
                    <div>Invoiced</div>
                </ng-template>
                <ng-template let-data="rowData" pTemplate="body">
                    <div class="text-right">
                        <span>{{ data.invoiced }}</span>
                    </div>
                </ng-template></p-column>
            <p-column header="Delivered" field="delivered" [style]="{'width': '7%'}">
                <ng-template pTemplate="header">
                    <div>Delivered</div>
                </ng-template>
                <ng-template let-data="rowData" pTemplate="body">
                    <div class="text-right">
                        <span>{{ data.delivered }}</span>
                    </div>
                </ng-template></p-column>
            <p-column header="Quantity" field="quantity" [style]="{'width': '7%'}">
                <ng-template pTemplate="header">
                    <div>Quantity</div>
                </ng-template>
                <ng-template let-data="rowData" pTemplate="body">
                    <div class="text-right">
                        <span>{{ data.quantity }}</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="Action" field="action" [style]="{'width': '6%'}">
                <ng-template pTemplate="header">
                    <div>Action</div>
                </ng-template>
            </p-column>
            <p-column header="Source" field="source" [style]="{'width': '8%'}">
                <ng-template pTemplate="header">
                    <div>Source</div>
                </ng-template>
            </p-column>
            <p-column header="Reason" field="reason" [style]="{'width': '11%'}">
                <ng-template pTemplate="header">
                    <div>Reason</div>
                </ng-template>
            </p-column>
            <p-column header="erdd" field="erdd" [style]="{'width': '11%'}">
                <ng-template pTemplate="header">
                    <span>E.R.D.D.</span>
                    <a href="#">
                        <span tooltip="Earliest Requested Delivery Date"
                            [tooltipDisabled]="false"
                            [tooltipAnimation]="true"
                            tooltipPlacement="top"
                            class="glyphicon glyphicon-info-sign">
                        </span>
                    </a>
                </ng-template>
            </p-column>
            <p-column header="Actioned By" field="actionedBy" [style]="{'width': '11%'}">
                <ng-template pTemplate="header">
                    <div>Actioned By</div>
                </ng-template>
            </p-column>
            <p-column header="Approver" field="approveBy" [style]="{'width': '11%'}">
                <ng-template pTemplate="header">
                    <div>Approver</div>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'4%'}" field="selected" selectionMode="multiple">
                <ng-template let-data="rowData" pTemplate="body">
                        <span>
                            <a href="#" class="glyphicon glyphicon-pencil" (click)="editLine(data)" title="Edit"></a>
                        </span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button class="btn btn-default" type="button" (click)="closeEdit()">Close</button>&nbsp;&nbsp;
        </div>
    </div>
</div>
<div>----------</div>
{{lineItemToHandle | json}}
<div>----------</div>
<div class="modal fade" id="exceptionsmodal" role="dialog">
    <div class="modal-dialog modal-lg" *ngIf="openModal" >
        <div class="modal-content">
            <div class="modal-body">
                <edit-exceptions-modal [item]="lineItemToHandle" [isEditMode]="isEditMode"></edit-exceptions-modal>
            </div>
        </div>
    </div>
</div>