
<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Exceptions</li>
    </ol>
</div>
<div class="jumbotron">
    <div *ngIf="!exceptions">
        <div class="alert alert-info"><strong>No exceptions!</strong>
        </div>
    </div>
    <div *ngIf="exceptions && exceptions.length">
        <div class="row">
            <ow-optionfilter [options]="options"
                             (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
        </div>
        <div class="table-responsive table-container">
            <table id="tableExceptionDeliveries" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Route</th>
                        <th>Drop</th>
                        <th>Invoice No</th>
                        <th>Account</th>
                        <th>Account Name</th>
                        <th>Contact</th>
                        <th>Status</th>
                        <th>Assigned</th>
                        <th>Action</th>
                        <th>Last updated date/time<a style="text-decoration:none;display:inline;"><ow-orderbyarrow (onSortDirectionChanged)="onSortDirectionChanged($event)"></ow-orderbyarrow></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="grid-row" *ngFor="let delivery of exceptions | optionFilter:filterOption | paginate: { itemsPerPage: rowCount, currentPage: p } | orderBy : currentConfigSort">
                        <td class="first-cell" (click)="deliverySelected(delivery)">{{delivery.routeNumber}}</td>
                        <td (click)="deliverySelected(delivery)">{{delivery.dropId}}</td>
                        <td (click)="deliverySelected(delivery)">{{delivery.invoiceNumber}}</td>
                        <td (click)="deliverySelected(delivery)">{{delivery.accountCode}}</td>
                        <td (click)="deliverySelected(delivery)">{{delivery.accountName}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info" (click)="openModal(delivery.accountId)">Info</button>
                        </td>
                        <td (click)="deliverySelected(delivery)">{{delivery.jobStatus}}</td>
                        <td>
                            <a class="assign" (click)="allocateUser(delivery)">{{delivery.assigned}}</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button *ngIf="delivery.canAction" class="btn btn-primary btn-sm dropdown-toggle enabled-action" type="button" data-toggle="dropdown" aria-haspopup="true" id="filter-option">{{delivery.action ? delivery.action :defaultAction.description}} <span class="caret"></span></button>
                                    <button *ngIf="!delivery.canAction" disabled="disabled" class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" id="filter-option">{{delivery.action ? delivery.action :defaultAction.description}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="filter-option">
                                        <li *ngFor="let action of actions"><a (click)="setSelectedAction(delivery,action)"> {{action.description}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td (click)="deliverySelected(delivery)">{{delivery.dateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
            <div class="col-md-6" *ngIf="exceptions && exceptions.length">
                <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>

    </div>
<contact-modal></contact-modal>
<assign-modal (onAssigned)="onAssigned($event)"></assign-modal>