
<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Exceptions</li>
    </ol>
</div>
<div class="jumbotron">
    <ow-spinner [isRunning]="isLoading"></ow-spinner>
    <div *ngIf="!isLoading">
        <div *ngIf="!exceptions">
            <div ID="no-exceptions" class="alert alert-info">
                <strong>No exceptions!</strong>
            </div>
        </div>
        <div *ngIf="exceptions">
            <div class="row">
                <div class="col-md-8">
                    <ow-optionfilter [options]="options"
                                     (filterClicked)="onFilterClicked($event)"
                                     [setKnownOption]="selectedOption"
                                     [setKnownFilter]="selectedFilter">
                    </ow-optionfilter>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">
                        <label class="radio-inline">
                            <input name="outstandingToggle" id="outstandingToggle1" type="radio" checked="{{outstandingFilter ? '' : 'checked'}}" value="All" (click)="onOutstandingClicked(false)">All
                        </label>
                        <label class="radio-inline">
                            <input name="outstandingToggle" id="outstandingToggle2" type="radio" checked="{{outstandingFilter ? 'checked' : ''}}" value="Outstanding" (click)="onOutstandingClicked(true)">Outstanding
                        </label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive table-container col-md-12" *ngIf="exceptions && exceptions.length > 0">
                    <table id="tableExceptionDeliveries" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Route</th>
                                <th>Drop</th>
                                <th>Invoice No</th>
                                <th>Account</th>
                                <th>Account Name</th>
                                <th>COD</th>
                                <th>Credit Value</th>
                                <th>Contact</th>
                                <th>Status</th>
                                <th>TBA</th>
                                <th>Assigned</th>
                                <th>Action</th>
                                <!--<th>Credit</th>-->
                                <th>Delivery Date <a style="text-decoration: none; display: inline;"><ow-orderbyarrow (onSortDirectionChanged)="onSortDirectionChanged($event)"></ow-orderbyarrow></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grid-row" *ngFor="let delivery of exceptions | outstanding: [outstandingFilter, 'deliveryDate'] | optionFilter:filterOption | orderByDate : currentConfigSort | paginate: { itemsPerPage: rowCount, currentPage: p }">
                                <td class="first-cell" (click)="deliverySelected(delivery)">{{delivery.routeNumber}}</td>
                                <td (click)="deliverySelected(delivery)">{{delivery.dropId}}</td>
                                <td (click)="deliverySelected(delivery)">{{delivery.invoiceNumber}}</td>
                                <td (click)="deliverySelected(delivery)">{{delivery.accountCode}}</td>
                                <td (click)="deliverySelected(delivery)">{{delivery.accountName}}</td>
                                <td (click)="deliverySelected(delivery)"><ow-cod [isCashOnDelivery]="delivery.cashOnDelivery"></ow-cod></td>
                                <td (click)="deliverySelected(delivery)">{{delivery.totalCreditValueForThreshold}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info contact-info" (click)="openModal(delivery.accountId)">Info</button>
                                </td>
                                <td (click)="deliverySelected(delivery)">{{delivery.jobStatus}}</td>
                                <td (click)="deliverySelected(delivery)">{{delivery.totalOutersShort}}</td>
                                <td>
                                    <span *ngIf="isReadOnlyUser">{{delivery.assigned}}</span>
                                    <a *ngIf="!isReadOnlyUser" class="assign" (click)="allocateUser(delivery)">{{delivery.assigned}}</a>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button *ngIf="delivery.canAction" class="btn btn-primary btn-sm enabled-action" type="button" id="filter-option" (click)="submit(delivery)">Submit</button>
                                        <button *ngIf="!delivery.canAction" disabled="disabled" class="btn btn-primary btn-sm disabled-action" type="button" id="filter-option">Submit</button>
                                    </div>
                                </td>
                                <!--<td class="gridCheckbox"><input type="checkbox" class="exceptionCheckbox" name="{{delivery.id}}" [disabled]="isGridCheckBoxDisabled(delivery.id)" [checked]="isChecked(delivery.id)" (click)="onCheck(delivery)" value="{{delivery.id}}" id="{{delivery.id}}"></td>-->
                                <td (click)="deliverySelected(delivery)">{{delivery.deliveryDate | date:'dd/MM/y' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row credit">
            <div class="col-md-12" *ngIf="exceptions && exceptions.length  && creditListlength() > 0">
                <span class="pull-right">
                    <button class="btn btn-success btn-sm" (click)="checkExceptionsForCredit()" id="credit" type="button">Bulk Credit</button>
                    <!--<button class="btn btn-primary btn-sm" (click)="selectAllCredits()" id="selectAll" type="button">Select All</button>-->
                </span>
            </div>         
        </div>
        <div class="row">
            <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
            <div class="col-md-6" *ngIf="exceptions && exceptions.length">
                <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<contact-modal></contact-modal>
<assign-modal (onAssigned)="onAssigned($event)"></assign-modal>
<confirmModal heading="Confirm changes" (confirmed)="creditConfirmed()"></confirmModal>
<ow-exceptions-confirm-modal></ow-exceptions-confirm-modal>