<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Well" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=Well;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="3831EC77-5CF1-4FF8-99F4-0CD751390473" />
    <add key="SecurityApi" value="http://localhost/SecurityApi" />
    <add key="ShouldCacheRoles" value="false" />
    <add key="CacheKeyPrefix" value="well_api" />
    <add key="transactionTimeout" value="10" />
    <add key="CommandTimeoutSeconds" value="180" />
    <add key="MaxNoOfDeadlockRetries" value="3" />
    <add key="Domains" value="palmerharvey;thebuyco;phdirect" />
    <add key="adamUserName" value="FLP" /> 
    <add key="adamPassword" value="1718" />
    <add key="adamServer" value="charon" />
    <add key="adamRfsMedway" value="BR05" />
    <add key="adamPortMedway" value="12053" />
    <add key="adamRfsCoventry" value="BR03" />
    <add key="adamPortCoventry" value="12033" />
    <add key="adamRfsFareham" value="BR03" />
    <add key="adamPortFareham" value="12033" />
    <add key="adamRfsDunfermline" value="BR03" />
    <add key="adamPortDunfermline" value="12033" />
    <add key="adamRfsLeeds" value="BR03" />
    <add key="adamPortLeeds" value="12033" />
    <add key="adamRfsHemel" value="BR03" />
    <add key="adamPortHemel" value="12033" />
    <add key="adamRfsBirtley" value="BR03" />
    <add key="adamPortBirtley" value="12033" />
    <add key="adamRfsBelfast" value="BR03" />
    <add key="adamPortBelfast" value="12033" />
    <add key="adamRfsBrandon" value="BR03" />
    <add key="adamPortBrandon" value="12033" />
    <add key="adamRfsPlymouth" value="BR03" />
    <add key="adamPortPlymouth" value="12033" />
    <add key="adamRfsBristol" value="BR03" />
    <add key="adamPortBristol" value="12033" />
    <add key="adamRfsHaydock" value="BR03" />
    <add key="adamPortHaydock" value="12033" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" />
    <authentication mode="Windows" />
    <roleManager defaultProvider="UserRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="UserRoleProvider" type="PH.Well.Common.Security.UserRoleProvider" description="P&amp;H Role Provider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} | ${logger} | ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" fileName="${basedir}/${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${longdate} ${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
</configuration>
