<div *ngIf="isVisible" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add widget warning level</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="errors && errors.length > 0">
                    <div class="alert alert-danger" style="max-width: 400px;">
                        <div *ngFor="let error of errors"><strong>{{error}}</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Level</label>
                            <input id="warning-level" type="text" class="form-control" placeholder="WarningLevel" [(ngModel)]="widgetWarning.warningLevel"/>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input id="warning-description" type="text" class="form-control" placeholder="Widget" [(ngModel)]="widgetWarning.widgetName"/>
                        </div>
                        <div class="form-group">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button id="widget-warning-dropdown" class="btn btn-primary btn-sm dropdown-toggle enabled-action" type="button" data-toggle="dropdown" aria-haspopup="true">{{widgetWarning.type }}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="filter-option">
                                        <li><a id="widget-warning-1" (click)="setSelectedType('Exceptions')">Exceptions</a></li>
                                        <li><a (click)="setSelectedType('Outstanding')">Outstanding</a></li>
                                        <li><a (click)="setSelectedType('Assigned')">Assigned</a></li>
                                        <li><a (click)="setSelectedType('Notifications')">Notifications</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ow-branch-select></ow-branch-select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn-group"><button id="widget-save" type="button" class="btn btn-primary" (click)="save()">Save</button></div>
                <div class="btn-group"><button type="button" class="btn btn-default" (click)="hide()">Close</button></div>
            </div>
        </div>
    </div>
</div>
