<div class="table-container">
    <ol class="breadcrumb">
        <li *ngIf="delivery.isException"><a routerLink="/exceptions">Exceptions</a></li>
        <li *ngIf="delivery.deliveryType == 'Complete'"><a routerLink="/clean">Clean</a></li>
        <li *ngIf="delivery.deliveryType == 'Resolved'"><a routerLink="/resolved">Resolved</a></li>
        <li><a routerLink="/delivery/{{delivery.id}}">{{delivery.deliveryType}} Delivery {{delivery.id}}</a></li>
        <li class="active">Update delivery line</li>
    </ol>
</div>
<div class="jumbotron" id="delivery-update">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Product</label>
                <div class="form-label">{{deliveryLine.productCode}} - {{deliveryLine.productDescription}}</div>
            </div>
        </div>
    </div>

    <tabset id="delivery-tabs" class="delivery-update-tabset">
        <tab title="Issues">
                <ow-delivery-issues></ow-delivery-issues>
        </tab>
        <tab title="Actions">
                <ow-delivery-actions></ow-delivery-actions>    
        </tab>
    </tabset>

</div>


