<div class="table-container">
    <ol class="breadcrumb">
        <li *ngIf="delivery.isException"><a routerLink="/exceptions">Exceptions</a></li>
        <li *ngIf="delivery.deliveryType == 'Complete'"><a routerLink="/clean">Clean</a></li>
        <li *ngIf="delivery.deliveryType == 'Resolved'"><a routerLink="/resolved">Resolved</a></li>
        <li><a routerLink="/delivery/{{delivery.id}}">{{delivery.deliveryType}} Delivery {{delivery.id}}</a></li>
        <li class="active">Update delivery line</li>
    </ol>
</div>
<div class="jumbotron">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Product</label>
                <div class="form-label">{{deliveryLine.productCode}} - {{deliveryLine.productDescription}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Short</label>
                <input id="short-qty-input" class="form-control" type="number" [(ngModel)]="deliveryLine.shortQuantity"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Damaged</label>
                <table *ngIf="deliveryLine.damages.length > 0" class="table table-striped table-bordered" id="damageTable">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Reason</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let damage of deliveryLine.damages; let i = index" class="editable">
                        <td><input id="damage-qty-input{{i}}" type="number" class="form-control" [(ngModel)]="damage.quantity"/></td>
                        <td>
                            <select id="reason-select{{i}}" class="form-control" id="damageReason"
                                    required
                                    [(ngModel)]="damage.reasonCode" name="reason">
                                <option *ngFor="let r of reasons" [value]="r.code">{{r.code}} - {{r.description}}</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="removeDamage(damage.index)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="deliveryLine.damages.length == 0">No damages</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button id="add-damage-button" type="button" class="btn btn-success" (click)="addDamage()">Add damage</button>
            </div>
        </div>
    </div>

    <div class="btn-group pull-right">
        <button id="save-button" type="button" class="btn btn-success" (click)="update()">Save</button>
        <button id="cancel-button" type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>

</div>
<confirmModal heading="Confirm changes" (confirmed)="updateConfirmed()"></confirmModal>
