<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">{{delivery.deliveryType}} Delivery {{delivery.id}}</li>
    </ol>
</div>
<div class="jumbotron">
        <div class="col-md-6">
            <address>
                <strong>{{delivery.accountCode}} {{delivery.contactName}}</strong><br />
                <abbr *ngIf="delivery.phoneNumber" title="Phone">Phone:</abbr> {{delivery.phoneNumber}}<br />
                <abbr *ngIf="delivery.mobileNumber" title="Mobile">Mobile:</abbr> {{delivery.mobileNumber}}<br />
                <abbr *ngIf="delivery.invoiceNumber" title="Mobile">Mobile:</abbr> {{delivery.invoiceNumber}}<br />
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>{{delivery.accountName}}</strong><br/>{{delivery.accountAddress}}
            </address>
        </div>

    <div class="table-responsive table-container">
        <table id="tableDelivery" class="table table-hover table-bordered editable" *ngIf="delivery.deliveryLines && delivery.deliveryLines.length">
            <thead>
                <tr>
                    <th>Line No</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Inv Qty</th>
                    <th>Del Qty</th>
                    <th>Damaged Qty</th>
                    <th>Short Qty</th>
                    <th *ngIf="delivery.isException">Reason code</th>
                    <th class="action-row"></th>
                </tr>
            </thead>
            <tbody>
            <tr class="grid-row" *ngFor="let line of delivery.deliveryLines | paginate: { itemsPerPage: rowCount, currentPage: p }"
                (click)="lineClicked(line)">
                <td>{{line.lineNo}}</td>
                <td>{{line.productCode}}</td>
                <td>{{line.productDescription}}</td>
                <td>{{line.value}}</td>
                <td>{{line.invoicedQuantity}}</td>
                <td>{{line.deliveredQuantity}}</td>
                <td *ngIf="line.isEdit" class="edit-row"><input type="number" [(ngModel)]="line.damagedQuantity" class="form-control input-sm" /></td>
                <td *ngIf="line.isEdit === false">{{line.damagedQuantity}}</td>
                <td *ngIf="line.isEdit" class="edit-row"><input type="number" [(ngModel)]="line.shortQuantity" class="form-control input-sm" /></td>
                <td *ngIf="line.isEdit === false">{{line.shortQuantity}}</td>
                <td *ngIf="delivery.isException && line.isEdit" class="edit-row"><input type="number" [(ngModel)]="line.reason" class="form-control input-sm" /></td>
                <td *ngIf="delivery.isException && line.isEdit === false">{{line.reason}}</td>
                <td class="action-row" *ngIf="line.isEdit === false">
                    <button type="button" class="btn btn-success btn-sm">Edit</button>
                </td>
                <td class="action-row" *ngIf="line.isEdit">
                    <button type="button" class="btn btn-success btn-sm" (click)="lineSave($event, line)">Save</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="lineCancel($event, line)">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row pull-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>