<div *ngIf="delivery" class="table-container">
    <ol class="breadcrumb">
        <li *ngIf="delivery.jobStatus == 'Exception' && !delivery.isPendingCredit"><a routerLink="/exceptions">Exceptions</a></li>
        <li *ngIf="delivery.isPendingCredit"><a routerLink="/approvals">Approvals</a></li>
        <li *ngIf="delivery.jobStatus == 'Clean'"><a routerLink="/clean">Clean</a></li>
        <li *ngIf="delivery.jobStatus == 'Resolved'"><a routerLink="/resolved">Resolved</a></li>
        <li><a routerLink="/delivery/{{delivery.id}}">Delivery {{delivery.id}}</a></li>
        <li class="active">Update delivery line</li>
    </ol>
</div>
<div *ngIf="delivery" class="jumbotron" id="delivery-update">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Account</label>
                <div class="form-label">{{delivery.accountCode}} - {{delivery.accountName}}
                    <ow-account-flags [isCashOnDelivery]="delivery.isCashOnDelivery" [isProofOfDelivery]="delivery.isProofOfDelivery"></ow-account-flags>
                </div>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" *ngIf="invalidShortDamagesQty()">
                    <strong>Total number of shorts and damages can not exceed total invoiced</strong>
                </div>
                <div class="alert alert-danger" *ngIf="invalidDeliveryQty()">
                    <strong>Total damaged and short cannot exceed invoice quantity</strong>
                </div>
                <label>Product</label>
                <div class="form-label">{{deliveryLine.productCode}} - {{deliveryLine.productDescription}} - Invoiced Qty {{deliveryLine.invoicedQuantity}} - Delivered Qty {{deliveryLine.deliveredQuantity}}</div>
            </div>
        </div>
    </div>

    <ow-delivery-issues [delivery]="delivery" [deliveryLine]="deliveryLine"></ow-delivery-issues>

</div>


