<div class="table-container">
    <ol class="breadcrumb">
        <li *ngIf="delivery.isException"><a routerLink="/exceptions">Exceptions</a></li>
        <li *ngIf="delivery.deliveryType == 'Complete'"><a routerLink="/clean">Clean</a></li>
        <li *ngIf="delivery.deliveryType == 'Resolved'"><a routerLink="/resolved">Resolved</a></li>
        <li class="active"><span id="delivery-type">{{delivery.deliveryType}}</span> Delivery {{delivery.id}}</li>
    </ol>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <address>
                <strong>{{delivery.accountCode}} {{delivery.contactName}}</strong><br/>
                <abbr *ngIf="delivery.phoneNumber" title="Phone">Phone:</abbr> {{delivery.phoneNumber}}<br/>
                <abbr *ngIf="delivery.mobileNumber" title="Mobile">Mobile:</abbr> {{delivery.mobileNumber}}<br/>
                <abbr *ngIf="delivery.invoiceNumber" title="Invoice">Invoice:</abbr> {{delivery.invoiceNumber}}<br/>
                <br>
                <abbr *ngIf="delivery.outerDiscrepancyFound" title="Discrepancy">Discrepancy:</abbr> {{delivery.totalOutersShort}}<br/>
            </address>
        </div>
        <div class="col-md-5">
            <address>
                <strong>{{delivery.accountName}}</strong><br/>{{delivery.accountAddress}}
            </address>
        </div>
        <div class="col-md-2">
            <div class="btn-group pull-right">
                <button class="btn btn-success" id="submit-button" [disabled]="delivery.canSubmit ? false : true"
                        type="button" (click)="submitActions()">Submit Actions</button>
            </div>
        </div>
    </div>
    <tabset>
        <tab title="Exceptions">
            <div *ngIf="!delivery.exceptionDeliveryLines || delivery.exceptionDeliveryLines.length == 0">
                <div class="table-responsive table-container">
                    <div class="alert alert-info">
                        <strong>No exceptions!</strong>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-container">
                <table id="tableDelivery" class="table table-hover table-striped" *ngIf="delivery.exceptionDeliveryLines && delivery.exceptionDeliveryLines.length">
                    <thead>
                    <tr>
                        <th>Line No</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Inv Qty</th>
                        <th>Del Qty</th>
                        <th>Damaged Qty</th>
                        <th>Short Qty</th>
                        <th>Checked</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="grid-row" *ngFor="let line of delivery.exceptionDeliveryLines | paginate: { id: 'exception-pager', itemsPerPage: rowCount, currentPage: p }"
                        (click)="lineClicked(line)">
                        <td>{{line.lineNo}}</td>
                        <td>{{line.productCode}}</td>
                        <td>{{line.productDescription}}</td>
                        <td>{{line.value|number:'1.2-2' }}</td>
                        <td>{{line.invoicedQuantity}}</td>
                        <td>{{line.deliveredQuantity}}</td>
                        <td>{{line.damagedQuantity}}</td>
                        <td>{{line.shortQuantity}}</td>
                        <td><span *ngIf="line.isDetailChecked()" class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right" *ngIf="delivery.exceptionDeliveryLines && delivery.exceptionDeliveryLines.length">
                <pagination-controls id="exception-pager" (pageChange)="p = $event"></pagination-controls>
            </div>
        </tab>
        <tab title="Clean">
            <div *ngIf="!delivery.cleanDeliveryLines || delivery.cleanDeliveryLines.length == 0">
                <div class="table-responsive table-container">
                    <div class="alert alert-info">
                        <strong>No clean deliveries!</strong>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-container">
                <table id="tableDelivery" class="table table-hover table-striped" *ngIf="delivery.cleanDeliveryLines && delivery.cleanDeliveryLines.length">
                    <thead>
                    <tr>
                        <th>Line No</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Inv Qty</th>
                        <th>Del Qty</th>
                        <th>Damaged Qty</th>
                        <th>Short Qty</th>
                        <th>Checked</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="grid-row" *ngFor="let line of delivery.cleanDeliveryLines | paginate: { id: 'clean-pager', itemsPerPage: rowCount, currentPage: p }"
                        (click)="lineClicked(line)">
                        <td>{{line.lineNo}}</td>
                        <td>{{line.productCode}}</td>
                        <td>{{line.productDescription}}</td>
                        <td>{{line.value|number:'1.2-2' }}</td>
                        <td>{{line.invoicedQuantity}}</td>
                        <td>{{line.deliveredQuantity}}</td>
                        <td>{{line.damagedQuantity}}</td>
                        <td>{{line.shortQuantity}}</td>
                        <td><span *ngIf="line.isDetailChecked()" class="glyphicon glyphicon-ok"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right" *ngIf="delivery.cleanDeliveryLines && delivery.cleanDeliveryLines.length">
                <pagination-controls id="clean-pager" (pageChange)="p = $event"></pagination-controls>
            </div>
        </tab>
    </tabset>
    
</div>

<submitConfirmModal heading="Confirm action submission" (confirmed)="submitActionsConfirmed()"></submitConfirmModal>