<div class="delivery-issues">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Short</label>
                <table *ngIf="delivery" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Source</th>
                        <th>Reason</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="editable">
                        <td>
                            <input id="short-qty-input" class="form-control" [disabled]="canAction()" type="number"
                                   [(ngModel)]="deliveryLine.shortQuantity" />            
                        </td>
                        <td>
                            <select id="short-source-select" [disabled]="canAction()" class="form-control"
                                    [(ngModel)]="deliveryLine.jobDetailSourceId">
                                <option *ngFor="let x of sources" [value]="x.id">{{x.description}}</option>
                            </select>
                        </td>
                        <td>
                            <select id="short-reason-select" class="form-control" [disabled]="canAction()"
                                    [(ngModel)]="deliveryLine.jobDetailReasonId">
                                <option *ngFor="let x of reasons" [value]="x.id">{{x.description}}</option>
                            </select>
                        </td>
                        <td>
                            <select id="short-reason-action" class="form-control" [disabled]="canAction()"
                                    [(ngModel)]="deliveryLine.shortsActionId">
                                <option *ngFor="let x of actions" [value]="x.id">{{x.description}}</option>
                            </select>
                        </td>
                        <td><button style="visibility: hidden" class="btn">remove</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Damaged</label>
                <table *ngIf="deliveryLine.damages.length > 0" class="table table-striped" id="damageTable">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Source</th>
                        <th>Reason</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let damage of deliveryLine.damages; let i = index" class="editable">
                        <td><input id="damage-qty-input{{i}}" [disabled]="canAction()" type="number" 
                                   class="form-control" [(ngModel)]="damage.quantity" />
                        </td>
                        <td>
                            <select id="damage-source-select{{i}}" [disabled]="canAction()" class="form-control"
                                    [(ngModel)]="damage.jobDetailSourceId" name="source">
                                <option *ngFor="let r of sources" [value]="r.id">{{r.description}}</option>
                            </select>
                        </td>
                        <td>
                            <select id="damage-reason-select{{i}}" [disabled]="canAction()" class="form-control" 
                                    [(ngModel)]="damage.jobDetailReasonId" name="reason">
                                <option *ngFor="let r of reasons" [value]="r.id">{{r.description}}</option>
                            </select>
                        </td>
                        <td>
                            <select id="damage-action-select{{i}}" class="form-control" [disabled]="canAction()"
                                    [(ngModel)]="damage.damageActionId">
                                <option *ngFor="let x of actions" [value]="x.id">{{x.description}}</option>
                            </select>
                        </td>
                        <td>
                            <button id="remove-damage-button{{i}}" [disabled]="canAction()" 
                                    type="button" class="btn btn-primary" (click)="removeDamage(damage.index)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="deliveryLine.damages.length == 0">No damages</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button id="add-damage-button" [disabled]="delivery.canAction ? false : true" type="button" 
                        class="btn btn-success" (click)="addDamage()">Add damage</button>
            </div>
        </div>
    </div>

    <div class="btn-group pull-right">
        <button *ngIf="deliveryLine.canSave()" id="save-button" [disabled]="delivery.canAction ? false : true" type="button" class="btn btn-success" (click)="update()">Save</button>
        <button id="cancel-button" type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
    
</div>

<confirmModal heading="Confirm changes" (confirmed)="updateConfirmed()"></confirmModal>
