<!-- This div is hidden -->
<div id="widgets" class="widget-container" hidden="hidden">
    <div class="row">
        <div id="widgets-column" class="col-md-4">
            <div class="jumbotron">
                <div class="row">
                    <div *ngFor="let widget of widgets" class="panel {{widget.showWarning ? 'panel-danger' : 'panel-primary'}}">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span *ngIf="widget.showWarning === false" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
                                <span *ngIf="widget.showWarning" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{widget.name}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <h4 *ngFor="let link of widget.links">
                                <a class="{{widget.showWarning ? 'text-danger' : 'text'}}" (click)="widgetLinkClicked(widget.name, link.link)">
                                    <span class="{{link.countName}}">{{link.count}}</span> {{link.linkText}}
                                </a>
                            </h4>
                            <p>{{widget.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="graph-column" class="col-md-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Search
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ow-appSearch></ow-appSearch>
                        </div>
                    </div>
                </div>
                <ow-widget-graph (barClicked)="graphBarClicked($event)"></ow-widget-graph>
            </div>
        </div>
    </div>
</div>
<!-- This div is hidden -->

<!-- Only this panel is currently visible -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <ow-appSearch></ow-appSearch>
    </div>
</div>
<!-- Only this panel is currently visible -->