<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Resolved Deliveries</li>
    </ol>
</div>
<div class="jumbotron">
    <div *ngIf="!isLoading">
        <div *ngIf="deliveries.length == 0">
            <div class="alert alert-info"><strong>No resolved deliveries</strong>
            </div>
        </div>
        <div *ngIf="deliveries.length > 0">
            <div class="row">
                <div class="col-md-8">
                    <ow-optionfilter [options]="options"
                                     (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive table-container col-md-12">
                    <table id="tableResolvedDeliveries" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th style="width: 4%">Branch</th>
                            <th style="width: 4%">Route</th>
                            <th style="width: 5%">Drop</th>
                            <th style="width: 11%">Invoice No</th>
                            <th style="width: 11%">Account</th>
                            <th style="width: 27%">Account Name</th>
                            <th style="width: 5%">Contact</th>
                            <th style="width: 6%">Status</th>
                            <th style="width: 10%">Assigned</th>
                            <th style="width: 11%">Date/Time<a style="text-decoration: none; display: inline;"><ow-orderbyarrow (onSortDirectionChanged)="onSortDirectionChanged($event)"></ow-orderbyarrow></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="grid-row" *ngFor="let delivery of deliveries | optionFilter:filterOption | orderBy: this | paginate: { itemsPerPage: rowCount, currentPage: currentPage }">
                            <td (click)="deliverySelected(delivery)" id="resolved-route-{{delivery.id}}">{{delivery.branchId}}</td>
                            <td (click)="deliverySelected(delivery)" id="resolved-route-{{delivery.id}}">{{delivery.routeNumber}}</td>
                            <td (click)="deliverySelected(delivery)" id="resolved-drop-{{delivery.id}}">{{delivery.dropId}}</td>
                            <td (click)="deliverySelected(delivery)" id="resolved-invoice-{{delivery.id}}">{{delivery.invoiceNumber}}</td>
                            <td (click)="deliverySelected(delivery)" id="resolved-code-{{delivery.id}}">{{delivery.accountCode}}
                                <ow-account-flags [isCashOnDelivery]="delivery.isCashOnDelivery" [isProofOfDelivery]="delivery.isProofOfDelivery"></ow-account-flags>
                            </td>
                            <td (click)="deliverySelected(delivery)" id="resolved-name-{{delivery.id}}">{{delivery.accountName}}</td>
                            <td>
                                <button id="resolved-contact-{{delivery.id}}" type="button" class="btn btn-sm btn-info contact-info" (click)="openModal(delivery.accountId)">Info</button>
                            </td>
                            <td (click)="deliverySelected(delivery)" id="resolved-job-{{delivery.id}}">{{delivery.jobStatus}}</td>
                            <td id="resolved-assigned-{{delivery.id}}">{{delivery.assigned}}</td>
                            <td (click)="deliverySelected(delivery)" id="resolved-date-{{delivery.id}}">{{delivery.deliveryDate | date:'dd/MM/y H:mm:ss'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
                <div class="col-md-6">
                    <pagination-controls class="pull-right" (pageChange)="SetCurrentPage($event)"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>
<contact-modal></contact-modal>
<assign-modal (onAssigned)="onAssigned($event)"></assign-modal>