<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Resolved Deliveries</li>
    </ol>
</div>
<div class="jumbotron">
    <div *ngIf="!deliveries">
        <div class="alert alert-info"><strong>No resolved deliveries!</strong>
        </div>
    </div>
    <div *ngIf='deliveries && deliveries.length'>
        <div class="row">
            <ow-optionfilter [options]="options"
                             (filterClicked)="onFilterClicked($event)"></ow-optionfilter>
        </div>
        <div class="table-responsive table-container">
            <table id="tableResolvedDeliveries" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Route</th>
                        <th>Drop</th>
                        <th>Invoice No</th>
                        <th>Account</th>
                        <th>Account Name</th>
                        <th>Contact</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Assigned</th>
                        <th>Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="grid-row" *ngFor="let delivery of deliveries | optionFilter:filterOption | paginate: { itemsPerPage: rowCount, currentPage: p }" (click)="deliverySelected(delivery)">
                        <td>{{delivery.routeNumber}}</td>
                        <td>{{delivery.dropId}}</td>
                        <td>{{delivery.invoiceNumber}}</td>
                        <td>{{delivery.accountCode}}</td>
                        <td>{{delivery.accountName}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info" (click)="openModal(delivery.accountId)">Info</button>
                        </td>
                        <td>{{delivery.jobStatus}}</td>
                        <td>{{delivery.action}}</td>
                        <td>{{delivery.assigned}}</td>
                        <td>{{delivery.dateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row pull-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<contact-modal></contact-modal>