<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="rootFolder" value ="c:\temp"/>
    <add key="waitTimeInMillisecondsForFileToBeCopied" value ="1000"/>
  </appSettings>
  <connectionStrings>
    <add name="Well" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=Well;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
