<div *ngIf="isVisible" class="modal fade show in danger user-preference-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{user.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong *ngIf="!isThreshold">Are you sure you want to set up branches for {{user.name}}!</strong>
                    <strong *ngIf="isThreshold">Are you sure you want to set up threshold levels for {{user.name}}!</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isThreshold" id="modal-yes" type="button" class="btn btn-success" (click)="setBranches(user)">Yes</button>
                <button *ngIf="isThreshold" type="button" class="btn btn-success" (click)="setThresholdLevels(user)">Yes</button>
                <button type="button" class="btn btn-primary" (click)="hide()">No</button>
            </div>
        </div>
    </div>
</div>   