<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Database" value="Well" />
  <add key="SqlInstance" value="HO-MS-STAGING1\SQLSERVER2014" />
  <add key="PathToDacpac" value="..\Database\\Well.dacpac" />
  <add key="TransactionTimeout" value="10" />
  <add key="DriverTimeoutInSeconds" value="10"/>
  <add key="WellApiUrl" value="http://ho-ms-staging1/well/api/"/>
  <add key="TransactionTimeout" value="10"/>
  <add key="SecurityUrl" value="http://ho-ms-staging1/Security/Api"/>
  <add key="DashboardUrl" value="http://ho-ms-staging1/Well/Dashboard/"/>
  <add key="ApplicationId" value="3831EC77-5CF1-4FF8-99F4-0CD751390473"/>
  <add key="WebDriver" value="Chrome"/>
  <add key="UseWaitForAngular2" value="false" />
</appSettings>