<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="Database" value="Well" />
  <add key="SqlInstance" value="HO-MS-STAGING1\SQLSERVER2014" />
  <add key="PathToDacpac" value="..\Database\\Well.dacpac" />
  <add key="TransactionTimeout" value="10" />
  <add key="DriverTimeoutInSeconds" value="10"/>
  <add key="WellApiUrl" value="http://HO-MS-STAGING1/well/api/"/>
  <add key="TransactionTimeout" value="10"/>
  <add key="SecurityApiUrl" value="http://HO-MS-STAGING1/Security/Api"/>
  <add key="ApplicationId" value="C7D39FDC-A3FA-44AA-A5FB-86433A87E6D5"/>
  <add key="WebDriver" value="Chrome"/>
</appSettings>