<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HangfireTest" connectionString="Data Source=.\SQLSERVER2014;Failover Partner=;Initial Catalog=HangfireTest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GlobalUpliftsTask.DataDirectories" value="" />
    <add key="GlobalUpliftsTask.MinutesInterval" value="2" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>