<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="LumenWorksCsvReader" version="3.9.1" targetFramework="net452" />
  <package id="PH.Common.FileNode" version="1.0.0.2" targetFramework="net452" />
  <package id="PH.Common.FileNode.Constants" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.FileNode.CSV" version="1.0.0.1" targetFramework="net452" />
  <package id="PH.Common.FileNode.Interfaces" version="1.0.0.0" targetFramework="net452" />
  <package id="PH.Common.SystemExtensions" version="1.0.0.2" targetFramework="net452" />
  <package id="PH.CreateNuGetFromProject" version="1.0.0.0" targetFramework="net452" developmentDependency="true" />
</packages>