<div *ngIf="canSubmitMissingGRN; then submit else notSubmit"> </div>
<ng-template #submit>
    <span *ngIf="linkText() != notRequired" type="button" class="btn-link" (click)="show()">GRN: {{linkText()}}</span>&nbsp;
    <span *ngIf="linkText() == required" class="glyphicon glyphicon-warning-sign" style="color: rgb(237,178,9);" title="The GRN number is missing and it's mandatory" >&nbsp;</span>
</ng-template>
<ng-template #notSubmit>
    <span *ngIf="linkText() != notRequired">GRN: {{linkText()}}</span>&nbsp;
</ng-template>

<div *ngIf="isVisible" class="modal fade in show" id="assignGrn-Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit GRN/CSF</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="setGrnValue">GRN/CSF</label>
                    <input type="text" id="setGrnValue" class="form-control" placeholder="GRN/CSF number" [(ngModel)]="grnNumber">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" (click)="submitGrn()">Submit</button>
            </div>
        </div>
    </div>
</div>