
<button style="visibility: hidden" type="button" data-target="#editActionsModal" data-toggle="modal" #showEditActionsModal>
    ShowModal
</button>
<div class="modal fade" id="editActionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-ph-lg" role="document">
        <div class="modal-content">
            <div class="form-horizontal">
                <div class="modal-header" style=" padding-bottom: 0;">
                    <div style="border-bottom: 1px solid #e5e5e5; padding-bottom: 15px">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add and edit exceptions</h4>
                    </div>
                    <div style="padding: 15px 15px 0 15px">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Job Id:</label>
                                <span> {{source.jobId}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Resolution:</label>
                                <span> {{source.resolutionStatus}}</span> <span *ngIf="!source.canEditActions"> (not editable) </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Account:</label>
                                <span> {{source.accountCode}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Invoice:</label>
                                <span>{{source.invoice}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Type:</label>
                                <span>{{source.type}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Product:</label>
                                <span>{{source.productNumber}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Description:</label>
                                <span>{{source.product}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Value:</label>
                                <span>{{source.value | currency:'GBP':true}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Invoiced:</label>
                                <span>{{source.invoiced}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>Delivered:</label>
                                <span>{{source.delivered}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>Damages:</label>
                                <span>{{source.damages}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>Shorts:</label>
                                <span>{{source.shorts}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>Bypass:</label>
                                <span>{{source.bypass}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger" *ngIf="actionsForm.enabled && !actionsForm.valid">
                                <h4>Form contains invalid data</h4>
                                <ul *ngIf="actionsForm.controls.actionsGroup.errors">
                                    <li>
                                        <strong>{{actionsForm.controls.actionsGroup.errors.message}}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="padding-top: 0; overflow: visible">
                    <div class="form-horizontal" [formGroup]="actionsForm">
                        <div>
                            <div class="table-responsive table-container">
                                <table class="table table-striped" formArrayName="actionsGroup">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Quantity</th>
                                            <th>Comments</th>
                                            <th></th>
                                            <th>Exception</th>
                                            <th>Source</th>
                                            <th>Reason</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of actionsForm.controls.actionsGroup.controls; let i = index">
                                            <tr [formGroupName]="i">
                                                <td>
                                                    <select class="form-control" formControlName="action">
                                                        <option *ngFor="let action of getDeliveryActions()" [value]="action.key">
                                                            {{ action.value }}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control text-right" formControlName="quantity" />          
                                                </td>
                                                <td>
                                                    <select class="form-control" formControlName="commentReason">
                                                        <option></option>
                                                        <option *ngFor="let comment of commentReasons" [value]="comment.key">
                                                            {{comment.value}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="comment-tooltip">
                                                        <tooltip-content #commentTooltip placement="top" class="fake">
                                                            <div class="list-group">
                                                                <div *ngFor="let c of lineItemActions[i].comments;" class="list-group-item list-group-item-action flex-column align-items-start">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <h5 class="mb-1">{{c.displayName}}</h5>
                                                                        <small class="text-muted">{{c.dateCreated | date:'dd/MMM/yyyy HH:mm:ss' }}</small>
                                                                    </div>
                                                                    <p class="mb-1 text-justify">{{c.commentDescription}}</p>
                                                                    <small class="text-muted pull-left">{{c.qtyChangeDescription}}</small>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </tooltip-content>
                                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"
                                                              *ngIf="hasComments(lineItemActions[i])"
                                                              [tooltip]="commentTooltip"
                                                              tooltipPlacement="right"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select class="form-control" formControlName="exceptionType" *ngIf="!isBaypassExceptionType(lineItemActions[i].exceptionType)">
                                                        <option></option>
                                                        <option *ngFor="let et of exceptionTypes" [value]="et.key">
                                                            {{et.value}}
                                                        </option>
                                                    </select>
                                                    <label *ngIf="isBaypassExceptionType(lineItemActions[i].exceptionType)">Baypass</label>
                                                </td>
                                                <td>
                                                    <select class="form-control" formControlName="source">
                                                        <option *ngFor="let source of sources" [value]="source.key">
                                                            {{ source.value }} 
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" formControlName="reason">
                                                        <option *ngFor="let reason of reasons" [value]="reason.key">
                                                            {{ reason.value }}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td style="text-align: center; vertical-align: middle">
                                                    <button *ngIf="lineItemActions[i].originator == 1 && source.canEditActions" id="remove-damage-button{{i}}" type="button" class=" btn btn-sm btn-danger" (click)="removeItem(i)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                    <span *ngIf="lineItemActions[i].originator == 0">
                                                        <i *ngIf="source.driverReason" class="fa fa-truck" aria-hidden="true" tooltip="{{source.driverReason}}" tooltipPlacement="left"></i>
                                                        <i *ngIf="!source.driverReason" class="fa fa-truck" aria-hidden="true"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <button type="button" class="btn btn-success" (click)="addAction()" [disabled]="!actionsForm.valid" *ngIf="source.canEditActions">Add</button>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" #closeModal>Cancel</button>&nbsp;
                                <button type="button" class="btn btn-success" [disabled]="!actionsForm.valid" (click)="save()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>