<button style="visibility: hidden"
        type="button" class="btn btn-success"
        data-toggle="modal"
        data-target="#actionModal" #showActionModal>
    Show
</button>
<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit Exceptions</h4>
            </div>
            <div class="modal-body row" style="overflow: hidden">
                <div class="col-xs-12" *ngIf="summaryData.warnings && summaryData.warnings.length > 0">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning" *ngFor="let warning of summaryData.warnings">{{warning}}</li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    {{summaryData.summary}}
                </div>
                <div class="col-xs-12" style="overflow-y: auto; max-height: 358px" *ngIf="hasItemsToSubmit()">
                    <div class="table-responsive table-container">
                        <table id="tableExceptionDeliveries" class="table table-hover table-striped">
                            <thead>
                            <tr style="height: auto">
                                <th>Item</th>
                                <th class="text-right">Total Quantity</th>
                                <th class="text-right">Credit Quantity</th>
                                <th class="text-right">Credit Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="grid-row" *ngFor="let item of  summaryData.items" style="height: auto">
                                <td>{{getIdentifierText(item)}}</td>
                                <td class="text-right">{{item.totalQty}}</td>
                                <td class="text-right">{{item.totalCreditQty}}</td>
                                <td class="text-right">{{item.totalCreditValue | currency:'GBP':true}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()" #btnClose>Cancel</button>
                <button type="button" class="btn btn-success" [disabled]="!hasItemsToSubmit()" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>