<div class="btn-group">
    <button type="button" class="btn btn-success"
            [disabled]="disabled"
            (click)="actionClicked(selectedAction)"
            data-toggle="modal"
            data-target="#actionModal">
        Submit Exceptions
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit Exceptions</h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <div class="row">
                    <div class="col-md-12">
                        {{summaryData.summary}}
                    </div>
                </div>
                <div class="row" style="overflow-y: auto; max-height: 400px" *ngIf="hasItemsToSubmit()">
                    <div class="col-md-12">
                        <div class="table-responsive table-container">
                            <table id="tableExceptionDeliveries" class="table table-hover table-striped">
                                <thead>
                                <tr style="height: auto">
                                    <th>Item</th>
                                    <th class="text-right">Total Quantity</th>
                                    <th class="text-right">Credit Quantity</th>
                                    <th class="text-right">Credit Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="grid-row" *ngFor="let item of  summaryData.items" style="height: auto">
                                    <td>{{getIdentifierText(item)}}</td>
                                    <td class="text-right">{{item.totalQty}}</td>
                                    <td class="text-right">{{item.totalCreditQty}}</td>
                                    <td class="text-right">{{item.totalCreditValue | currency:'GBP':true}}</td>
                                </tr>
                            </table>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()" #btnClose>Cancel</button>
                <button type="button" class="btn btn-success"  [disabled]="!hasItemsToSubmit()" (click) ="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>