<div class="table-container">
    <ol class="breadcrumb">
        <li class="active">Notifications</li>
    </ol>
</div>
<div class="jumbotron">

    <div class="content">
        <div *ngIf="!notifications">
            <div id="no-notifications" class="alert alert-info">
                <strong>No notifications!</strong>
            </div>
        </div>
        <div class="row" id="notification">
            <div class="grid-row"  *ngFor="let notification of notifications | paginate: { itemsPerPage: rowCount, currentPage: p }">
                <div ngClass="{{getStyle(notification)}}">
                    
                    <span class="pull-right notification-archive">
                        <a class="btn btn-primary archive-action" id="notification-archive-{{notification.id}}" (click)="archive(notification)">Archive</a>
                    </span>
                    
                    <h4 id="notification-header-{{notification.id}}">{{getHeading(notification)}}</h4>
                    
                    <p>
                        <b>Account:</b> <span id="notification-account-{{notification.id}}">{{notification.depotId}}/{{notification.phAccount}}</span><br>
                        <b>PickList Reference:</b> <span id="notification-pick-{{notification.id}}">{{notification.picklistRef}}</span><br>
                        <b>Invoice Number:</b> <span id="notification-invoice-{{notification.id}}">{{notification.invoiceNumber}}</span><br><br>
                        <b>Contact:</b> <span id="notification-contact-{{notification.id}}">{{notification.contactName}}</span><br>
                        <b>Allocated to:</b> <span id="notification-user-{{notification.id}}">{{notification.userName}}</span><br>
                    </p>
                    
                    <p id="notification-reason-{{notification.id}}">
                        {{notification.reason}}
                    </p>
                   
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6"><span class="pull-left">Last updated {{lastRefresh | date: 'medium'}}</span></div>
            <div class="col-md-6">
                <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<ow-notifications-modal (onArchived)="onArchived($event)"></ow-notifications-modal>

